@use '../sass-utils/' as *;
@use '../base/' as *;

.footer {
    background-color: map-get($colors, primary-dark);
    
    padding: 1rem 2.5rem 1rem 2.5rem;
    
    padding-block: 1.5rem;


    &__container {
        @include flex-display(space-between, center, 1rem);
        width: min(90%, 83.5rem);
        margin-inline: auto;
    }
}