@use '../sass-utils/' as *;
@use '../base/' as *;

.header {
    background-color: map-get($colors, primary-dark);
    padding: 1.65rem;
    &__container {
        width: min(90%, 83.5rem);
        margin-inline: auto;
        @include flex-display(space-between, center, 1rem);
    }
}