@use '../sass-utils/' as *;
@use '../base/' as *;

.header {

    &__logo {
        max-width: 30%;
    }

    &__nav-list {
        @include flex-display(space-between, center, 1rem);
        gap: map-get($font-sizes, small);

        .list__item {
            @include flex-display(center, center, 1rem);

            .nav-link {
                @include flex-display(center, center, 1rem);
                flex-direction: row;
                gap: map-get($font-sizes, very-small);
            }

            &-text {
                color: map-get($colors, primary-white);
                font-size: map-get($font-sizes, very-small);
            }

            &-icon {
                max-width: 20%;
            }
        }
    }

}