@use '../sass-utils/' as *;
@use '../base/' as *;

.header {
    
    &__logo {
        max-width: 30%;
    }

    &__nav-list {
        @include flex-display(space-between, center, 1.5rem);
        gap: 1.5rem;

        .list__item {
            @include flex-display(center, center, 1rem);

            .nav-link {
                @include flex-display(center, center, 1rem);
                flex-direction: row;
                gap: map-get($font-sizes, very-small);
            }

            &-text {
                color: map-get($colors, primary-white);
            }

            &-icon {
                max-width: 20%;
            }
        }
    }

}

.footer {

    &__copyright {
        white-space: nowrap;
        font-size: map-get($font-sizes, small);
    }

    .social-links__list {
        @include flex-display(center, center, 2rem);
        min-width: 1rem;

        .list-item {
            max-width: 15%;
            flex-shrink: 0;
            @include flex-display(center, center, 0);
        }

        .list-item--arrow {
            max-width: 15%;
            flex-shrink: 0;
            @include flex-display(center, center, 0);
        }
    }

}