@mixin flex-display($justify, $align, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin grid-display($template-columns, $template-rows : auto, $gap, $justify-items : normal, $justify-content : normal, $align-items : center, $align-content : center) {
    display: grid;
    grid-template-columns: $template-columns;
    grid-template-rows: $template-rows;
    gap: $gap;
    justify-items: $justify-items;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

@mixin media($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}