<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Content/css/main.css">
        <title>Statistici</title>
    </head>
<body style="background-color: gray;">
    <header class="header">
        <img class="header__logo" src="../assets/header/Broken-Dreams.png" alt="Logo">
        <nav class="header__nav">
            <ul role="list" class="header__nav-list">
                <li class="list__item">
                    <a href="" class="nav-link">
                        <img class="list__item-icon" src="../assets/header/house-icon.svg">
                        <p class="list__item-text">Acasa</p>
                    </a>
                </li>
                <li class="list__item">
                    <a href="" class="nav-link">
                        <img class="list__item-icon" src="../assets/header/info-icon.svg">
                        <p class="list__item-text">Despre</p>
                    </a>
                </li>
                <li class="list__item">
                    <a href="" class="nav-link">
                        <img class="list__item-icon" src="../assets/header/statistics-icon.svg">
                        <p class="list__item-text">Statistici</p>
                    </a>
                </li>
                <li class="list__item">
                    <a href="" class="nav-link">
                        <img class="list__item-icon" src="../assets/header/contact-icon.svg">
                        <p class="list__item-text">Contact</p>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="stats-info">
        <div class="stats-info__card">
            <span class="highlight">110</span>
            <p class="stats-info__description">
                de noi detinuți în 2023 până în prezent
            </p>
        </div>
        <div class="stats-info__card">
            <span class="highlight">37</span>
            <p class="stats-info__description">
                de detinuți eliberați în 2023 până în prezent            </p>
        </div>
        <div class="stats-info__card">
            <span class="highlight">1/5</span>
            <p class="stats-info__description">
                deținuți sunt eliberați înainte de termenul inițial            </p>
        </div>
    </section>

    <main class="stats-main">
        <hr>
        <div class="chart-container">
            <h2>Evoluția numărului deținuților în ultimii 8 ani</h2>
            <img src="../assets/statistici/grafic1.svg">
        </div>
        <hr>
        <div class="chart-container">
            <h2>Media duratei pedepselor deținuților în ultimii 8 ani</h2>
            <img src="../assets/statistici/grafic1.svg">
        </div>
    </main>

    <footer class="footer">
        <p class="footer__copyright">
            &copy; Copyright Broken Dreams 2023. Toate drepturile rezervate.
        </p>
        <nav class="footer__social-links">
            <ul class="social-links__list">
                <li class="list-item">
                    <a href="" class="list-item__link">
                        <img src="../assets/footer/facebook-icon.svg" alt="">
                    </a>
                </li>
                <li class="list-item">
                    <a href="" class="list-item__link">
                        <img src="../assets/footer/email-icon.svg" alt="">
                    </a>
                </li>
                <li class="list-item">
                    <a href="" class="list-item__link">
                        <img src="../assets/footer/whatsapp-icon.svg" alt="">
                    </a>
                </li>
                <li class="list-item">
                    <a href="" class="list-item__link">
                        <img src="../assets/footer/back-to-top.svg" alt="">
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>