@use '../base/' as *;
@use '../sass-utils/' as *;

.error {
  min-height: 100vh;
  @include flex-display(center, center, 0rem);
  &__container {
    @include flex-display(center, center, 1rem);
    flex-direction: column;

    &-image {
      max-width: min(15rem, 30%);
      margin: 2rem 2rem 4rem 2rem;
    }

    :is(&-title, &-info) {
      padding: 0 2rem 0 2rem;
      white-space: normal;
      color: map-get($colors, primary-white);
    }

    &-info {
      margin-bottom: 2rem;
      font-weight: map-get($font-weights, semi-bold);
    }

    &-button {
      border: none;
      background-color: map-get($colors, accent-red);
      color: map-get($colors, primary-dark);
      padding: 1rem 2rem 1rem 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      border-radius: 2rem;
      font-size: map-get($font-sizes, medium);
      font-weight: map-get($font-weights, bold);
      font-family: $ff-primary;
      cursor: pointer;
      transition: background-color 0.15s, color 0.15s, opacity 0.15s ease-in-out;
    }

    &-button:hover {
      background-color: map-get($colors, primary-dark);
      color: map-get($colors, accent-red);
    }

    &-button:active {
      opacity: 0.8;
    }
  }
}
