@use '../base/' as *;
@use '../sass-utils/' as *;

.login {
  min-height: 100vh;
  @include flex-display(start, center, 0);
  flex-direction: column;
  margin-top: 5rem;

  .container {
    width: min(90%, 32.5rem);
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
    @include flex-display(center, center, 0rem);
    flex-direction: column;
    background-color: map-get($colors, light-black);
    padding: 3rem 2rem;
    border-radius: 2rem;

    &__title {
      white-space: nowrap;
      color: map-get($colors, primary-white);
      font-size: map-get($font-sizes, extra-large);
      margin-bottom: 1rem;
    }

    &__form {
      width: 100%;

      &-field {
        @include flex-display(center, flex-start, 0rem);
        flex-direction: column;
        margin-top: 2rem;
      }

      &-field:nth-of-type(5) {
        gap: 1rem;
        #photo-label {
          width: 100%;
        }
      }

      &-buttons {
        @include flex-display(center, center, 2rem);
        flex-direction: column;
        margin-top: 2rem;
        button {
          width: 100%;
          background-color: map-get($colors, accent-red);
          border-radius: 5rem;
          border: none;
          padding: 0.75rem 2.5rem;
          cursor: pointer;
          color: map-get($colors, primary-white);
          font-size: map-get($font-sizes, medium);
          font-weight: map-get($font-weights, regular);
          font-family: $ff-primary;
          transition: opacity 0.15s;
        }

        button:hover {
          opacity: 0.8;
        }

        button:active {
          opacity: 0.6;
        }
      }
    }

    label,
    .photo-upload {
      font-weight: map-get($font-weights, regular);
      color: map-get($colors, primary-white);
    }

    input:not([id='photo']) {
      width: 100%;
      background-color: map-get($colors, light-gray);
      margin-top: 1.75rem;
      border-radius: 2rem;
      padding: 0.65rem 1.5rem;
      font-size: var(--fs-small);
    }

    :is(textarea, input):is(:focus) {
      outline: none;
    }

    input[type='file'] {
      cursor: pointer;
      display: none;
      transition: all 350ms ease-in-out;
    }

    label[for='photo'] {
      cursor: pointer;
      background-color: map-get($colors, secondary-gray);
      padding: 1rem 1.5rem;
      border-radius: 0.75rem;
      text-align: center;
    }
  }
}
.validation-error {
  display: none;
}
.validation-error.display-error {
  display: block;
  margin-top: 0.5rem;
}
.container__form-field :is(input, #photo-label) {
  border: 0.2rem solid transparent;
}
.container__form-field.success :is(input, #photo-label) {
  border-color: transparent;
}
