@use '../sass-utils/' as *;
@use '../base/' as *;

body {
  background-image: url('/assets/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
.stats-info {
  width: min(100% - 4rem, 42.5rem);
  margin-inline: auto;
  margin-block: 2rem;
  &__container {
    @include grid-display(
      auto,
      1fr 1fr 1fr,
      2rem,
      center,
      center,
      center,
      center
    );
  }
}
.stats-main {
  min-height: 100vh;
  @include flex-display(start, center, 1rem);
  flex-direction: column;
  padding-inline: 1rem;

  &__chart-container {
    @include flex-display(center, center, 0rem);
    flex-direction: column;
    width: min(100% - 4rem, 42.5rem);
    padding-block: 1.5rem;
    border-top: 0.25rem solid;
    border-radius: 0.25rem;

    img {
      width: 90%;
      margin: auto;
    }

    .charts {
      margin-top: 0.65rem;
      padding: 0.75rem;
      width: 95% !important;
      height: 95% !important;
      background-color: map-get($colors, accent-maroon);
      border-radius: 0.5rem;
      box-shadow: 0.4rem -0.4rem 0.8rem 0rem hsla(0, 0%, 0%, 0.39);
    }

    &__title {
      width: 75%;
      text-align: center;
      margin-inline: auto;
      padding: 0.5rem 0.5rem 2rem 0.5rem;
      margin-bottom: -2rem;
      box-shadow: 0.4rem -0.4rem 0.8rem 0rem hsla(0, 0%, 0%, 0.39);
    }
  }
}
