@use '../base/' as *;
@use '../sass-utils/' as *;

.profile {
  min-height: 100vh;
  @include flex-display(center, center, 0);

  &__container {
    @include flex-display(center, center, 3rem);
    flex-direction: column;

    &-card {
      @include flex-display(center, center, 3rem);
      flex-direction: column;
      margin: 2rem max(15%, 2rem) 2rem max(15%, 2rem);
      padding: 3rem max(13%, 2.5rem) 3rem max(13%, 2.5rem);
      border-radius: 2rem;
      box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);

      background-image: linear-gradient(
        to bottom,
        map-get($colors, accent-red) 0%,
        map-get($colors, primary-red) 28%,
        map-get($colors, secondary-white) 28%,
        map-get($colors, secondary-white) 100%
      );

      :is(&__pic, &__photo) {
        border-radius: 50%;
        border: none;
        width: auto;
        height: 8rem;
        cursor: pointer;
      }

      &__info {
        @include flex-display(center, center, 1rem);
        flex-direction: column;

        :is(&__name, &__email) {
          color: map-get($colors, primary-black);
          font-weight: map-get($font-weights, bold);
        }

        &__name {
          font-size: map-get($font-sizes, extra-large);
        }

        &__email {
          font-size: map-get($font-sizes, large);
        }
      }
      &__edit {
        background-color: map-get($colors, accent-red);
        border: none;
        border-radius: 2rem;
        padding: 1rem 2rem 1rem 2rem;
        color: map-get($colors, primary-dark);
        font-size: map-get($font-sizes, medium);
        font-weight: map-get($font-weights, semi-bold);
        cursor: pointer;
        font-family: $ff-primary;
        transition: opacity 0.15s;
      }

      &__edit:hover {
        opacity: 0.8;
      }

      &__edit:active {
        opacity: 0.6;
      }
    }

    &-details {
      @include flex-display(center, center, 0);
      flex-direction: column;
      :is(&__welcome, &__line) {
        display: none;
      }
      &-history {
        @include flex-display(start, center, 1rem);
        flex-direction: column;
        background-color: map-get($colors, light-gray);
        padding: 1rem min(3rem, 5%) 2rem 1rem;
        border-radius: 2rem;
        margin: 0 1rem 0 1rem;

        &__title {
          font-size: map-get($font-sizes, huge);
          margin-bottom: 2rem;
        }

        &__text {
          @include flex-display(start, start, 1rem);
          flex-direction: column;

          &-details {
            border: 0.075rem solid map-get($colors, primary-black);
            border-radius: 0.5rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            max-width: 35rem;
            &__summary {
              font-size: map-get($font-sizes, large);
              font-family: $ff-primary;
              font-weight: map-get($font-weights, semi-bold);
            }

            &__info {
              font-size: map-get($font-sizes, medium);
              white-space: pre-line;
            }
          }
        }

        &-details[open] {
          padding: 10rem;
        }
      }
    }
  }
}
