@use '../base/' as *;
@use '../sass-utils/' as *;

.contact {

    min-height: 90vh;

    &__title {
        text-align: center;
        white-space: nowrap;
        margin-top: 3rem;
        margin-bottom: 5rem;
        transition: ease all 1s;
    }

    &__form {
        margin: auto;
        position: relative;

        &-fieldset {
            padding: 2rem 2rem 2rem 2rem;
            border-radius: 7px;
            border: none;
            line-height: 1rem;
            margin-bottom: 10rem;
        }

        legend {
            padding: 1rem 0.35rem 1rem 0.35rem;
            transition: font-size 1s;
        }

        label[for=first-name],
        label[for=last-name],
        label[for=email],
        label[for=suggestions] {
            display: block;
            margin-bottom: 0.5rem;
        }

        input {
            margin-bottom: 3.5rem;
            padding-left: 0.25rem;
            width: 80%; //min(60%, 30rem);
            height: 2.5rem;
            border: none;
            border-radius: 0.5rem;
        }

        textarea[name=suggestions] {
            padding: 1rem;
            border-radius: 0.5rem;
            width: 80%;
        }

        &-button {
            position: absolute;
            bottom: -15%;
            left: 20%;
            border-width: 0.25rem;
            border-style: solid;
            border-radius: 0.5rem;
            padding: 1rem 1.5rem 1rem 1.5rem;
            cursor: pointer;
            white-space: nowrap;
            transition: opacity 0.2s, padding 0.2s, font-size 0.2s;
        }

        &-button:hover {
            opacity: 0.7;
            padding: 1.5rem 2rem 1.5rem 2rem;
            font-size: map-get($font-sizes, large);
        }

        &-button:active {
            opacity: 0.5;
        }
    }
}