@use '../sass-utils/' as *;
@use '../base/' as *;

.details {
    margin: 4rem 8rem 8rem 8rem;
    min-width: 60rem;
    color: map-get($colors, primary-white);

    &__info {
        @include flex-display(center, center, 0rem);
        flex-direction: column;
        background-color: map-get($colors, accent-charcoal);
        padding-bottom: 3rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);

        &__title {
            font-weight: map-get($font-weights, bold);
            text-align: center;
            padding-top: 3rem;
        }

        &__line {
            height: 0.5rem;
            border-radius: 1rem;
            border: none;
            background-color: map-get($colors, primary-white);
            width: 60rem;
            text-align: center;
        }
    }

    &__form {
        margin-bottom: 15rem;

        &__labels {
            @include grid-display(1fr 1fr, 1fr 1fr 1fr, 2rem, center, center, start, center);
            column-gap: 0;
            background-color: map-get($colors, accent-charcoal);
            box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
            padding: 0 4rem 10rem 4rem;

            &__container {
                @include flex-display(center, start, 0.5rem);
                flex-direction: column;
                font-size: map-get($font-sizes, large);

                .form-text {
                    font-size: map-get($font-sizes, regular);
                }

                .form-input {
                    width: 25rem;
                    height: 3rem;
                    padding: 0 0.5rem 0 0.5rem;
                }

                input[type=date]::-webkit-calendar-picker-indicator,
                input[type=time]::-webkit-calendar-picker-indicator {
                    font-size: 1.75rem;
                }

                .form-textarea {
                    max-width: 25rem;
                    min-width: 25rem;
                    padding-left: 0.5rem;
                }
            }
        }

        &__submit {
            margin-top: 4rem;
            background-color: map-get($colors, accent-red);
            color: map-get($colors, primary-white);
            border: none;
            border-radius: 0.4rem;
            padding: 1.25rem 3.25rem 1.25rem 3.25rem;
            font-size: map-get($font-sizes, extra-large);
            box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
            cursor: pointer;
            float: right;
            transition: opacity 0.15s;
        }

        &__submit:hover {
            opacity: 0.85;
        }

        &__submit:active {
            opacity: 0.65;
        }
    }
}