@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --fs-very-small: 0.75rem;
  --fs-small: 0.875rem;
  --fs-regular: 1rem;
  --fs-medium: 1.15rem;
  --fs-large: 1.35rem;
  --fs-extra-large: 1.75rem;
  --fs-huge: 2rem;
}

@media screen and (min-width: 875px) {
  :root {
    --fs-very-small: 0.75rem;
    --fs-small: 1rem;
    --fs-regular: 1.125rem;
    --fs-medium: 1.35rem;
    --fs-large: 1.5rem;
    --fs-extra-large: 2rem;
    --fs-huge: 3rem;
  }
}
@media screen and (min-width: 1150px) {
  :root {
    --fs-very-small: 1rem;
    --fs-small: 1.15rem;
    --fs-regular: 1.25rem;
    --fs-medium: 1.4rem;
    --fs-large: 1.55rem;
    --fs-extra-large: 2.15rem;
    --fs-huge: 3.3rem;
  }
}
:is(header, main, section, footer, div) :is(h1, h2, h3, p, span, a, label, input, legend, textarea, time) {
  font-family: "Inter", sans-serif;
}

.hero__title {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-huge);
  font-weight: 700;
}
.hero__title--logo {
  font-family: "Lobster", cursive;
  font-size: var(--fs-huge);
  font-weight: 700;
}
.hero__description {
  font-size: var(--fs-medium);
  font-weight: 400;
}
.hero__main-link {
  font-size: var(--fs-medium);
  font-weight: 700;
}

.header__nav {
  font-size: var(--fs-extra-large);
  font-weight: 600;
}

:is(.main) :is(p, a) {
  font-size: var(--fs-small);
  font-weight: 400;
}

@media screen and (min-width: 1150px) {
  :is(.main) :is(p, a) {
    font-size: var(--fs-very-small);
  }
}
.main .card__title {
  font-size: var(--fs-medium);
}
.main .card__container {
  font-size: var(--fs-small);
}

.stats-info__container {
  font-family: "Inter", sans-serif;
}
.stats-info__container .highlight {
  font-size: var(--fs-extra-large);
  font-weight: 700;
}
.stats-info__container .stats-info__container__description {
  font-size: var(--fs-medium);
  font-weight: 600;
}

.stats-main {
  font-size: var(--fs-very-small);
}
.stats-main__chart-container__title {
  font-size: var(--fs-very-small);
}

.contact__title {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-huge);
  font-weight: 700;
}
.contact__form-fieldset {
  font-size: var(--fs-regular);
  font-weight: 600;
}
:is(.contact__form-legend, .contact__form-button) {
  font-size: var(--fs-large);
}

.guest-main {
  font-family: "Inter", sans-serif;
}
.guest-main__aside__button {
  font-size: var(--fs-medium);
  font-weight: 600;
}
.guest-main__list__card {
  font-size: var(--fs-very-small);
}
.guest-main__list__card__label {
  text-align: center;
  font-weight: 700;
}
.guest-main__list__card__info {
  font-weight: 600;
}
.guest-main__list__next-page {
  font-size: var(--fs-medium);
  font-weight: 600;
}

.details__title {
  font-size: var(--fs-extra-large);
  font-weight: 700;
}
.details__form {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-medium);
  font-weight: 700;
}

.contact__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.35rem;
  font-style: italic;
}
.contact__form-fieldset {
  font-size: var(--fs-regular);
  font-weight: 600;
}
.contact__form legend {
  font-weight: 400;
  font-size: 1.15rem;
}
.contact__form label[for=first-name],
.contact__form label[for=last-name],
.contact__form label[for=email],
.contact__form label[for=suggestions] {
  font-size: 1.35rem;
}
.contact__form textarea[name=suggestions]::placeholder {
  font-weight: 400;
  font-size: 0.875rem;
}
.contact__form-button {
  font-size: 1.15rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
:is(.contact__form-legend, .contact__form-button) {
  font-size: var(--fs-large);
}

.about__title-text {
  font-weight: 400;
}
.about__container .title-text {
  font-weight: 700;
  font-size: 1.35rem;
}
.about__container-description {
  font-size: 1.35rem;
}
.about-description {
  font-size: 1.15rem;
}

.details__form__labels__title {
  font-size: var(--fs-regular);
  font-weight: 700;
}
.details__form__labels__container .form-text {
  font-size: var(--fs-small);
}
.details__form__labels__container .form-input,
.details__form__labels__container .form-textarea {
  font-size: var(--fs-small);
  font-weight: 400;
}
.details__form__buttons {
  font-size: var(--fs-medium);
}

.help {
  font-family: "Inter", sans-serif;
}
.help__title {
  font-size: var(--fs-extra-large);
  font-weight: 700;
}
.help__qa__question__text {
  font-size: var(--fs-large);
  font-weight: 700;
}
.help__qa__steps__step {
  font-size: var(--fs-regular);
  font-weight: 600;
}
.help__qa__steps__step__highlight {
  font-weight: 700;
}

.error {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-very-small);
  font-weight: 400;
}

:is(header, .hero) :is(h1, p, a) {
  color: hsl(0, 0%, 100%);
}

.hero :is(.hero__main-link) {
  color: hsl(0, 0%, 0%);
}

.main__title {
  color: hsl(0, 0%, 100%);
}

:is(.card) :is(h2, p) {
  color: hsl(0, 0%, 0%);
}

.card .card__container-date {
  color: hsl(0, 0%, 35%);
}
.card__container-link {
  color: hsl(0, 0%, 0%);
}

.footer :is(p) {
  color: hsl(0, 0%, 100%);
}

.stats-info :is(p, span),
.stats-main {
  color: hsl(0, 0%, 100%);
}

.stats-info__container__card--1 {
  background-color: hsl(320, 15%, 19%);
}
.stats-info__container__card--2 {
  background-color: hsl(148, 30%, 46%);
}
.stats-info__container__card--3 {
  background-color: hsl(90, 18%, 64%);
}

.contact :is(h1, label, legend, button) {
  color: hsl(0, 0%, 100%);
}

.stats-main__chart-container__title {
  background-color: hsl(120, 5%, 11%);
}

.contact__form-fieldset {
  border-color: hsl(0, 0%, 100%);
}
.contact__form legend {
  background-color: hsl(0, 0%, 35%);
}
.contact__form label[for=first-name],
.contact__form label[for=last-name],
.contact__form label[for=email],
.contact__form label[for=suggestions] {
  color: hsl(0, 0%, 90.2%);
}
.contact__form input {
  background-color: hsl(0, 0%, 90.2%);
}
.contact__form textarea[name=suggestions] {
  background-color: hsl(0, 0%, 90.2%);
}
.contact__form-button {
  border-color: hsl(0, 0%, 100%);
  background-color: transparent;
}

.about__title-text {
  color: hsl(0, 0%, 100%);
}
.about__container .title-text {
  color: hsl(0, 0%, 100%);
}
.about__container .line {
  background-color: hsl(0, 0%, 100%);
}
.about__container-description {
  color: hsl(0, 0%, 100%);
}

.stats-info__card {
  background-color: red;
}

.guest-main__aside__button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(169, 26%, 20%);
}
.guest-main__list__card {
  background-color: hsl(0, 0%, 80%);
}
.guest-main__list__next-page {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 97%, 65%);
}

.details {
  color: hsl(0, 0%, 100%);
}
.details__form__labels {
  background-color: hsl(203, 19%, 30%);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
}
.details__form__buttons__submit, .details__form__buttons__back {
  background-color: hsl(0, 97%, 65%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}

.help {
  color: hsl(0, 0%, 100%);
}
.help__qa {
  background-color: hsl(0, 97%, 65%);
  transition: all 400ms ease;
}
.help__qa__steps {
  color: hsl(0, 0%, 0%);
}
.help__qa__steps__step__highlight {
  color: hsl(0, 97%, 65%);
}
.help__qa__steps__step img {
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}
.help__qa__question__arrow {
  border-left: 0.7rem solid hsl(0, 0%, 100%);
}
.help__qa[open] {
  color: hsl(0, 97%, 65%);
  background-color: hsl(0, 0%, 100%);
}
.help__qa[open] .help__qa__question__arrow {
  border-left: 0.7rem solid hsl(0, 97%, 65%);
}

.validation-error {
  color: hsl(0, 97%, 65%);
}

.container__form-field.input-error input {
  border-color: hsl(0, 97%, 65%);
}

.about {
  width: min(65rem, 90%);
  min-height: 100vh;
  margin-inline: auto;
}
.about__title {
  transition: padding 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem 1.5rem 4rem 1.5rem;
}
.about__title-icon {
  width: 2rem;
}
.about__container__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.about__container-description {
  text-align: center;
  width: 75%;
  transition: font-size 1s;
  margin: 3rem 3rem 1rem 3rem;
  font-size: 1.15rem;
}
:is(.about__container__title-right, .about__container__title-left) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  text-align: center;
  font-size: 1.75rem;
  margin-top: 2rem;
}
.about__container-photo {
  width: 75%;
  max-width: 30rem;
  margin: auto;
}
.about__container .reverse {
  flex-direction: column-reverse;
}
.about__container .line {
  height: 0.25rem;
  border-radius: 0.5rem;
  width: 40%;
  min-width: 10rem;
}
.about .project-documentation {
  cursor: pointer;
  display: block;
  font-style: italic;
  font-size: var(--fs-medium);
  text-align: center;
  text-decoration: underline;
  color: hsl(0, 0%, 100%);
  transition: all 350ms ease-in-out;
}
.about .project-documentation:is(:hover, :focus) {
  opacity: 0.8;
}

.contact__title {
  margin-block: 3rem;
  text-align: center;
  transition: ease all 1s;
}
.contact__form {
  width: min(42.5rem, 90%);
  margin-inline: auto;
}
.contact__form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2.5rem;
  justify-items: stretch;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-inline: 1rem;
  padding-bottom: 2rem;
}
.contact__form-fieldset {
  border: 0;
  border-radius: 7px;
}
.contact__form legend {
  padding: 1rem;
  margin-bottom: 2rem;
  margin-inline: auto;
  transition: font-size 1s;
}
.contact__form label[for=first-name],
.contact__form label[for=last-name],
.contact__form label[for=email],
.contact__form label[for=suggestions] {
  display: block;
  margin-bottom: 1.35rem;
}
.contact__form input {
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
}
.contact__form textarea[name=suggestions] {
  resize: none;
  width: 100%;
  height: 12.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.contact__form-button {
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: opacity 0.2s, padding 0.2s, font-size 0.2s;
}
.contact__form-button:hover {
  opacity: 0.7;
  padding: 1.5rem 2rem;
  font-size: 1.35rem;
}
.contact__form-button:active {
  opacity: 0.5;
}

body {
  background-image: url("/assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.stats-info {
  padding: 2rem 4rem 2rem 4rem;
}
.stats-info__container {
  width: min(90%, 83.5rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.stats-main {
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 0rem 1.65rem 0rem 1.65rem;
}
.stats-main__chart-container {
  width: min(90%, 62.5rem);
  padding: 1.5rem;
  border-top: 0.25rem solid;
  border-radius: 0.25rem;
}
.stats-main__chart-container img {
  width: 90%;
  margin: auto;
}
.stats-main__chart-container__title {
  width: 80%;
  text-align: center;
  margin-inline: auto;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  margin-bottom: -2rem;
  box-shadow: 0.4rem -0.4rem 0.8rem 0rem hsla(0, 0%, 0%, 0.39);
}

.guest-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr 2fr;
  gap: 1.5rem;
  justify-items: normal;
  justify-content: center;
  align-items: start;
  align-content: start;
  padding: 2.5rem 1.65rem;
  width: min(90%, 30rem);
  margin-inline: auto;
  min-height: 100vh;
}
.guest-main .search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0rem;
}
.guest-main .search-bar input {
  outline: none;
  font-size: var(--fs-regular);
  display: block;
  width: 100%;
  padding-inline: 1.5rem;
  background-color: hsl(0, 0%, 80%);
  border: none;
  border-top-left-radius: 1rem;
}
.guest-main .search-bar button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 1rem;
  border-top-right-radius: 1rem;
  transition: opacity 350ms ease-in-out;
}
.guest-main .search-bar button img {
  width: 40px;
  height: 40px;
}
.guest-main .search-bar .result-list {
  margin-inline: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: var(--fs-very-small);
  background-color: hsl(0, 0%, 80%);
  box-shadow: 0.4rem 1rem 0.8rem 0rem hsla(0, 0%, 0%, 0.39);
  border-top: none;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  list-style-type: none;
}
.guest-main .search-bar .result-list.hidden {
  display: none;
  padding-bottom: 0rem;
}
.guest-main .search-bar .result-list.visible {
  display: block;
  padding-bottom: 0.5rem;
}
.guest-main .search-bar .result-list .title {
  padding-inline: 1rem 1rem;
  font-weight: bold;
  color: hsl(0, 0%, 35%);
  margin-bottom: 1rem;
}
.guest-main .search-bar .result-list .prisoner-option {
  padding-inline: 1rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.guest-main .search-bar .result-list .prisoner-option:hover {
  background-color: hsl(0, 0%, 85%);
}
.guest-main .search-bar.list-off input {
  border-bottom-left-radius: 1rem;
}
.guest-main .search-bar.list-off button {
  border-bottom-right-radius: 1rem;
  background-color: hsl(0, 97%, 65%);
}
.guest-main .search-bar.list-off button:is(:hover) {
  opacity: 0.75;
}
.guest-main .search-bar.list-on button {
  background-color: hsl(0, 0%, 80%);
}
.guest-main .search-bar.list-on button img {
  color: hsl(0, 97%, 65%);
  transition: filter 0.5s ease-in-out;
}
.guest-main .search-bar.list-on button img:is(:hover) {
  filter: invert(51%) sepia(57%) saturate(5388%) hue-rotate(1deg) brightness(92%) contrast(108%);
}
.guest-main__aside {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  padding-bottom: 3rem;
  border-bottom: 0.25rem solid white;
  border-radius: 0.25rem;
  width: 100%;
}
.guest-main__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  flex-direction: column;
  align-self: start;
  width: 100%;
}
.guest-main__list__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: start;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.25rem 0.5rem 0rem hsla(0, 0%, 0%, 0.39);
}
.guest-main__list__card__dBirth {
  display: none;
}
.guest-main__list__card__photo {
  max-width: 60%;
  border-radius: 100vh;
  border: 4px solid hsl(0, 0%, 0%);
}
.guest-main__list__card .drop-arrow {
  cursor: pointer;
  justify-self: end;
  width: 40px;
}
.guest-main__list__card .drop-arrow .vBar {
  display: block;
  width: 20px;
  background-color: hsl(0, 0%, 0%);
  height: 3px;
  margin-bottom: 0.35rem;
  transition: all 250ms ease-in-out;
}
.guest-main__list__card .drop-arrow .vBar:is(:first-child) {
  transform: translate(15px, 4px) rotate(-45deg);
}
.guest-main__list__card .drop-arrow .vBar:is(:last-child) {
  margin-bottom: 0;
  transform: translate(2px, -4px) rotate(45deg);
}
.guest-main__list__card .drop-arrow.extended .vBar:is(:first-child) {
  transform: translate(4px, 2px) rotate(-45deg);
}
.guest-main__list__card .drop-arrow.extended .vBar:is(:last-child) {
  transform: translate(4px, -7px) rotate(45deg);
}
.guest-main__list__card__buttons {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
:is(.guest-main__list__card__buttons__edit, .guest-main__list__card__buttons__delete) {
  cursor: pointer;
  border-style: none;
  background: none;
  background-color: white;
  padding: 0.25rem;
  box-shadow: 0rem 0.25rem 0.5rem 0rem hsla(0, 0%, 0%, 0.39);
  border-radius: 0.25rem;
  transition: background-color 0.25s;
}
:is(.guest-main__list__card__buttons__edit, .guest-main__list__card__buttons__delete):hover {
  background-color: hsl(0, 0%, 80%);
}
.guest-main__list__card.extended {
  grid-template-rows: repeat(2, 1fr);
}
.guest-main__list__card.extended .guest-main__list__card__buttons {
  display: flex;
  grid-column: 3/4;
  justify-self: end;
}
.guest-main__list__card.extended .guest-main__list__card__dBirth {
  display: block;
  grid-column: 1/3;
  justify-self: center;
}
.guest-main .prisoner__card {
  margin-bottom: 0rem;
  width: max(100%, 10rem);
  background-color: hsl(0, 0%, 80%);
  border-radius: 0.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.75rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.guest-main .prisoner__card-title {
  color: hsl(0, 0%, 100%);
  font-size: var(--fs-small);
  font-weight: 600;
}
.guest-main .prisoner__card-photo {
  width: 6rem;
  margin-inline: auto;
}
.guest-main .prisoner__card-details {
  color: hsl(0, 0%, 0%);
  text-align: center;
  line-height: 2.5;
}
.guest-main .prisoner__card-details .prisoner-name {
  font-size: var(--fs-vary-small);
  font-weight: 400;
  padding: 0.5rem 1rem 0rem 1rem;
  margin-bottom: 1rem;
}
.guest-main .prisoner__card-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-block: 1.5rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  background-color: hsl(0, 97%, 65%);
}
.guest-main .prisoner__card-banner .delete-card {
  position: absolute;
  height: 1.75rem;
  width: 1.75rem;
  top: 0;
  right: 0;
  cursor: pointer;
}
.guest-main .prisoner__card-banner .line {
  position: absolute;
  top: 75%;
  right: 30%;
  width: 100%;
  height: 0.285rem;
  border-radius: 0.25rem;
  background-color: hsl(0, 0%, 100%);
}
.guest-main .prisoner__card-banner .line-1 {
  transform: rotate(45deg);
}
.guest-main .prisoner__card-banner .line-2 {
  transform: rotate(-45deg);
}
.guest-main .prisoner__card-banner .delete-card:hover .line {
  transition: all 0.3s ease;
  background-color: hsl(0, 0%, 80%);
}
.guest-main .prisoner__card.hidden {
  display: none;
}
.guest-main .prisoner__card.visible {
  display: block;
}

.guest-main.prisoner-selected {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr 2fr;
  gap: 1.5rem;
  justify-items: normal;
  justify-content: center;
  align-items: start;
  align-content: start;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  width: min(62.5rem, 90%);
  margin-inline: auto;
  padding-top: 3rem;
  min-height: 100vh;
}
.details__form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.details__form__labels {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
  border-radius: 0.75rem;
}
.details__form__labels__container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  flex-direction: column;
  width: 100%;
}
.details__form__labels__container .form-input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 100vh;
}
.details__form__labels__container .form-textarea {
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 10rem;
  width: 100%;
  resize: none;
}
.details__form__labels__title {
  padding-bottom: 1.5rem;
  width: 100%;
  text-align: center;
  border-bottom: 0.25rem solid white;
  border-radius: 0.15rem;
}
.details__form__buttons {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20%;
  width: 100%;
}
.details__form__buttons__submit, .details__form__buttons__back {
  text-align: center;
  padding: 0.75rem 2rem;
  border-radius: 0.75rem;
  border: none;
  transition: all 250ms ease-in-out;
}
.details__form__buttons__submit:is(:hover, :focus), .details__form__buttons__back:is(:hover, :focus) {
  box-shadow: 0 0 3.5rem hsl(0, 97%, 65%);
}
.details__form__buttons__submit {
  align-self: flex-end;
}
.details__form__buttons__back {
  align-self: flex-start;
}

.login {
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
  flex-direction: column;
  margin-top: 5rem;
}
.login .container {
  width: min(90%, 32.5rem);
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  flex-direction: column;
  background-color: hsl(0, 0%, 24%);
  padding: 3rem 2rem;
  border-radius: 2rem;
}
.login .container__title {
  white-space: nowrap;
  color: hsl(0, 0%, 100%);
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.login .container__form {
  width: 100%;
}
.login .container__form-field {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0rem;
  flex-direction: column;
  margin-top: 2rem;
}
.login .container__form-field:nth-of-type(5) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.login .container__form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  margin-top: 2rem;
}
.login .container__form-buttons button {
  width: 100%;
  background-color: hsl(0, 97%, 65%);
  border-radius: 5rem;
  border: none;
  padding: 0.75rem 2.5rem;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  font-size: 1.15rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  transition: opacity 0.15s;
}
.login .container__form-buttons button:hover {
  opacity: 0.8;
}
.login .container__form-buttons button:active {
  opacity: 0.6;
}
.login .container label,
.login .container .photo-upload,
.login .container .photo-details {
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}
.login .container .photo-details {
  line-height: 1.5em;
  height: 1.5em;
  width: 7em;
  overflow: hidden;
}
.login .container input:not([id=photo]) {
  width: 100%;
  background-color: hsl(0, 0%, 85%);
  margin-top: 1.75rem;
  border-radius: 2rem;
  padding: 0.65rem 1.5rem;
  font-size: var(--fs-very-small);
}
.login .container :is(textarea, input):is(:focus) {
  outline: none;
}
.login .container input[type=file] {
  cursor: pointer;
  display: none;
  transition: all 350ms ease-in-out;
}
.login .container label[for=photo] {
  cursor: pointer;
  background-color: hsl(0, 0%, 35%);
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  text-align: center;
}

.validation-error {
  display: none;
}

.validation-error.display-error {
  display: block;
  margin-top: 0.5rem;
}

.container__form-field input {
  border: 0.2rem solid transparent;
}

.container__form-field.success input {
  border-color: transparent;
}

.profile {
  min-height: 100vh;
  width: min(100% - 4rem, 30rem);
  margin-inline: auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: start;
}
.profile__title {
  justify-self: stretch;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: var(--fs-large);
  text-align: center;
  border-bottom: 3px solid hsl(0, 0%, 100%);
  padding-bottom: 1rem;
}
.profile__data {
  justify-self: stretch;
  color: hsl(0, 0%, 100%);
}
.profile__data .help__qa__question__text {
  font-weight: 600;
}
.profile__data .help__qa {
  margin-top: 3rem;
}
.profile__card {
  min-width: 17.5rem;
  grid-row: 1/2;
  background-color: hsl(0, 0%, 80%);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.75rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.profile__card-photo {
  position: absolute;
  width: 6rem;
  margin-inline: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  border-radius: 100vh;
  border: 4px solid hsl(0, 0%, 24%);
}
.profile__card-details {
  color: hsl(0, 0%, 0%);
  text-align: center;
  line-height: 2.5;
}
.profile__card-details .user-name {
  font-size: var(--fs-medium);
  font-weight: 600;
  padding: 0 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px dashed black;
}
.profile__card-details .user-email {
  font-size: var(--fs-very-small);
}
.profile__card-button {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-small);
  font-weight: 600;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 2rem;
  background-color: hsl(0, 97%, 65%);
  padding: 1rem 1.75rem;
  margin-bottom: 2.5rem;
  transition: all 350ms ease-in-out;
}
.profile__card-button:is(:hover, :focus) {
  opacity: 0.8;
}
.profile__card-banner {
  position: relative;
  width: 100%;
  padding-block: 4rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: hsl(0, 97%, 65%);
}

.error {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.error__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.error__container-image {
  max-width: min(15rem, 30%);
  margin: 2rem 2rem 4rem 2rem;
}
:is(.error__container-title, .error__container-info) {
  padding: 0 2rem 0 2rem;
  white-space: normal;
  color: hsl(0, 0%, 100%);
}
.error__container-info {
  margin-bottom: 2rem;
  font-weight: 600;
}
.error__container-button {
  border: none;
  background-color: hsl(0, 97%, 65%);
  color: hsl(0, 0%, 0%);
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 2rem;
  font-size: 1.15rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s ease-in-out;
}
.error__container-button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 97%, 65%);
}
.error__container-button:active {
  opacity: 0.8;
}

.help {
  min-height: 100vh;
  padding: 2rem 1.5rem 2rem 1.5rem;
  width: min(90%, 83.5rem);
  margin-inline: auto;
  display: flex;
  justify-content: auto;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.help__title {
  width: 100%;
  text-align: center;
  border-bottom: 0.25rem solid;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
}
.help__qa {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 1.5rem 0rem 1.5rem 0rem;
  border-radius: 0.5rem;
  transition: all 400ms ease;
  cursor: pointer;
}
.help__qa__question {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  flex-direction: row;
  padding-inline: 1rem 1.5rem;
}
.help__qa__question__arrow {
  width: 0;
  height: 0;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  transition: 400ms linear all;
  margin: auto 0 auto 0;
}
.help__qa__question__text {
  margin: auto;
  text-align: center;
  font-size: var(--fs-medium);
}
.help__qa__question::marker {
  content: none;
}
.help__qa__steps {
  list-style-type: decimal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  margin-inline: auto;
  padding: 1rem 2rem;
  text-align: left;
}
.help__qa__steps__step {
  padding-top: 2rem;
  width: min(100% - 2rem, 50ch);
  margin-inline: auto;
}
.help__qa__steps__step img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
.help__qa[open] .help__qa__question__arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: 400ms linear all;
}

.guest-main__aside__button {
  width: max(100%, 10rem);
  padding: 1rem;
  border-radius: 0.7rem;
  border-style: none;
  box-shadow: 0rem 0.25rem 0.5rem 0rem hsla(0, 0%, 0%, 0.39);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.guest-main__aside__button:is(:hover, :focus) {
  box-shadow: 0 0 3.5rem hsl(203, 19%, 30%);
}
.guest-main__list__next-page {
  display: none;
  text-align: center;
  justify-self: end;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 250ms ease-in-out;
}
.guest-main__list__next-page:is(:hover, :focus) {
  box-shadow: 0 0 3.5rem hsl(0, 97%, 65%);
}

.stats-info__container__card--1, .stats-info__container__card--2, .stats-info__container__card--3 {
  border-radius: 0.7rem;
  padding: 1rem 1.65rem 1rem 1.65rem;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: normal;
  gap: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0rem 0.25rem 0.5rem 0rem hsla(0, 0%, 0%, 0.39);
}

.header {
  background-color: hsl(0, 0%, 0%);
  padding: 1.65rem;
}
.header__container {
  width: min(90%, 83.5rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header__nav {
  min-height: 100%;
  position: absolute;
  top: 4.85rem;
  left: -100%;
  right: 100%;
  z-index: 2;
  background: hsl(0, 0%, 0%);
  transition: 500ms ease-in-out;
}
.header__nav.active {
  display: block;
  left: 0;
  right: 0;
}
.header :is(.nav__toggle, .bar) {
  transition: all 500ms ease-in-out;
}
.header .nav__toggle.active .bar:is(:nth-child(1)) {
  transform: translateY(11px) rotate(-45deg);
}
.header .nav__toggle.active .bar:is(:nth-child(2)) {
  opacity: 0;
}
.header .nav__toggle.active .bar:is(:nth-child(3)) {
  transform: translateY(-11px) rotate(45deg);
}

.footer {
  background-color: hsl(0, 0%, 0%);
  padding-block: 1.5rem;
  margin-top: 3rem;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  width: min(90%, 83.5rem);
  margin-inline: auto;
}
.footer__container .doc-link {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  text-decoration: underline;
  transition: opacity 250ms ease-in-out;
}
.footer__container .doc-link:is(:hover, :focus) {
  opacity: 0.5;
}

.header__logo {
  flex-basis: min(20%, 5rem);
}
.header .nav__toggle {
  cursor: pointer;
  display: block;
  width: 30px;
}
.header .nav__toggle .bar {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 0.5rem;
  background: hsl(0, 0%, 100%);
}
.header .nav__toggle .bar:is(:nth-child(3)) {
  margin-bottom: 0;
}
.header__nav-list {
  display: block;
}
.header__nav-list .list__item {
  margin-block: 4rem;
}
.header__nav-list .list__item .nav-link {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
.header__nav-list .list__item-text {
  color: hsl(0, 0%, 100%);
}
.header__nav-list .list__item-icon {
  max-width: 20%;
}
.header__nav-list .list__item:is(:last-child) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__nav-list .list__item:is(:last-child) .person-logo {
  aspect-ratio: 1/1;
  max-width: 2.5rem;
  border-radius: 100vh;
}
.header__nav-list .list__item:is(:last-child) .profile-link {
  position: relative;
}
.header__nav-list .list__item:is(:last-child) .profile-link:hover::before {
  content: "Profile ↩";
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  background-color: hsl(0, 0%, 35%);
}
.header__nav-list .list__item:is(:last-child) button {
  position: relative;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  background: transparent;
  width: 2rem;
}
.header__nav-list .list__item:is(:last-child) button:hover::before {
  content: "Logout ↩";
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  background-color: hsl(0, 97%, 65%);
}
.header__nav-list .list__item:is(:last-child) .list__item-icon {
  max-width: 2rem;
}

.footer__copyright {
  order: 1;
  text-align: center;
  font-size: 0.875rem;
}
.footer .social-links__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
.footer .social-links__list .list-item {
  max-width: 10%;
  flex-shrink: 0;
}

.hero {
  min-height: 100vh;
  background-image: url("/assets/acasa/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.hero .wrapper {
  width: min(80%, 83.5rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 2.5rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.hero__title {
  text-align: center;
}
.hero__description {
  width: 70%;
  text-align: center;
}
.hero__main-link {
  padding: 1rem calc(1rem + 5vw);
  background-color: hsl(0, 97%, 65%);
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
}
.hero__main-link:is(:hover, :focus) {
  box-shadow: 0 0 3.5rem hsl(0, 97%, 65%);
}
.hero__arrow {
  position: relative;
  top: 0;
  animation-name: moving-arrows;
  animation-duration: 750ms;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes moving-arrows {
  from {
    top: 0;
  }
  to {
    top: 1rem;
  }
}
.main {
  width: min(90%, 82.5rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 3rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3rem;
}
.main__rule {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  height: 5px;
  border-radius: 5rem;
}
.main__container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 3rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-areas: "slimCard1" "slimCard2" "wideCard1" "wideCard2";
}
.main__container #slimCard1 {
  grid-area: slimCard1;
}
.main__container #slimCard2 {
  grid-area: slimCard2;
}
.main__container #wideCard1 {
  grid-area: wideCard1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main__container #wideCard1 .card__img {
  aspect-ratio: 16/9;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  object-position: 50% 20%;
  align-self: stretch;
  object-fit: cover;
}
.main__container #wideCard2 {
  grid-area: wideCard2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0.5rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main__container #wideCard2 .card__img {
  aspect-ratio: 16/9;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  align-self: stretch;
  object-fit: cover;
  object-position: 50% 20%;
}
.main__container .card {
  max-width: 20rem;
  background-color: hsl(0, 0%, 80%);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 1.5rem;
}
.main__container .card__img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.main__container .card__title {
  text-align: center;
}
.main__container .card__description {
  width: 85%;
  text-align: center;
}
.main__container .card__title {
  padding-block: 1.5rem;
  border-bottom: 3px dashed hsl(0, 0%, 35%);
}
.main__container .card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}
.main__container .card__container-link {
  transition: all 250ms ease-in-out;
}
.main__container .card__container-link:is(:hover, :focus) {
  font-weight: 700;
}

.guest-dialog {
  font-family: "Inter", sans-serif;
  width: min(35.5rem, 100% - 2rem);
  margin: auto;
  border: 0;
  border-radius: 1rem;
  background-color: hsl(203, 19%, 30%);
  color: hsl(0, 0%, 100%);
}
.guest-dialog .header-wrapper {
  width: min(100% - 4rem, 27.5rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0rem;
  padding-block: 2rem;
}
.guest-dialog .header-wrapper .form-title {
  font-size: var(--fs-medium);
}
.guest-dialog .header-wrapper .form-toggle {
  width: 35px;
  height: 35px;
  background: none;
  border: 0;
  cursor: pointer;
}
.guest-dialog .header-wrapper .form-toggle .bar {
  display: block;
  height: 5px;
  margin-bottom: 0.5rem;
  background-color: hsl(0, 0%, 100%);
}
.guest-dialog .header-wrapper .form-toggle .bar:is(:nth-child(1)) {
  transform: translateY(7px) rotate(-45deg);
}
.guest-dialog .header-wrapper .form-toggle .bar:is(:nth-child(2)) {
  transform: translateY(-6px) rotate(45deg);
}
.guest-dialog .dialog__form {
  width: min(100% - 4rem, 27.5rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
  justify-items: start;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 2.5rem;
}
.guest-dialog .dialog__form .field-wrapper {
  width: 100%;
  font-size: var(--fs-small);
}
.guest-dialog .dialog__form .field-wrapper label,
.guest-dialog .dialog__form .field-wrapper input {
  display: block;
  width: 100%;
}
.guest-dialog .dialog__form .field-wrapper label {
  margin-bottom: 0.5rem;
  font-size: var(--fs-small);
}
.guest-dialog .dialog__form .field-wrapper input {
  border: none;
  outline: 0;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.guest-dialog .dialog__form .field-wrapper .error-message {
  display: none;
  color: hsl(0, 97%, 65%);
  font-size: var(--fs-very-small);
  font-weight: 600;
  margin-top: 0.5rem;
}
.guest-dialog .dialog__form .field-wrapper .error-message.visible {
  display: block;
}
.guest-dialog .dialog__form .field-wrapper .error-outline {
  outline: 3px solid hsl(0, 97%, 65%);
  border-radius: 0.5rem;
}
.guest-dialog .dialog__form .form-submit {
  justify-self: end;
  background-color: hsl(0, 97%, 65%);
  border: 0;
  cursor: pointer;
  border-radius: 0.75rem;
  color: hsl(0, 0%, 100%);
  padding: 0.75rem 2.5rem;
  transition: all 350ms ease-in-out;
}
.guest-dialog .dialog__form .form-submit:is(:hover, :focus) {
  box-shadow: 0 0 2rem hsl(0, 97%, 65%);
}
.guest-dialog .dialog__form .form-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.guest-dialog .dialog__form .form-footer .field-wrapper input[type=file] {
  display: none;
}
.guest-dialog .dialog__form .form-footer .field-wrapper label[for=photo] {
  background-color: hsl(0, 0%, 35%);
  margin-bottom: 0;
  padding-block: 0.75rem;
  border-radius: 0.75rem;
  text-align: center;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
  border-radius: 10px;
}

.visible {
  display: block;
}

@media screen and (min-width: 875px) {
  .main__container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "slimCard1 slimCard2" "wideCard1 wideCard1" "wideCard2 wideCard2";
  }
  .main :is(#wideCard1, #wideCard2) {
    max-width: 42.5rem;
  }
  .main #wideCard1 {
    grid-template-columns: 1.35fr 2fr;
  }
  .main #wideCard1 .card__img {
    grid-row: 1/span 3;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.5rem;
  }
  .main #wideCard2 {
    grid-template-columns: 2fr 1.35fr;
  }
  .main #wideCard2 .card__img {
    grid-row: 1/span 3;
    grid-column: 2/-2;
    border-top-left-radius: 0;
    border-bottom-right-radius: 1.5rem;
  }
  .stats-info {
    padding: 4rem 5rem 4rem 5rem;
    width: min(90%, 65rem);
    margin-inline: auto;
  }
  .stats-info__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .stats-info__container__card--1, .stats-info__container__card--2, .stats-info__container__card--3 {
    padding: 1rem;
  }
  .stats-main {
    padding: 0;
  }
  .stats-main__chart-container {
    padding: 4rem 8rem 4rem 8rem;
  }
  .contact__title {
    font-size: 2rem;
    transition: ease all 1s;
  }
  .contact__form-wrapper {
    padding-inline: 3rem;
  }
  .contact__form-fieldset {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='white' stroke-width='5' stroke-dasharray='20' stroke-dashoffset='25' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  .contact__form legend {
    font-size: 1.35rem;
    transition: font-size 1s;
  }
  .contact__form-button {
    justify-self: end;
  }
  .login .container__form {
    width: 85%;
  }
  .login .container__form-buttons {
    flex-direction: row;
  }
  .about__title {
    transition: padding 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 1.5rem 4rem 1.5rem;
  }
  .about__title-icon {
    width: 2rem;
  }
  .about .line {
    flex: 1;
    height: 0.25rem;
    border-radius: 0.5rem;
  }
  .about__container {
    margin-top: 1rem;
  }
  .about__container__title-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row;
    padding: 0 3rem 0 2rem;
    margin-top: 0;
  }
  .about__container__title-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row-reverse;
    padding: 0 3rem 0 2rem;
    margin-top: 0;
  }
  .about__container-description {
    width: 100%;
    font-size: 1.35rem;
    text-align: left;
  }
  .about__container-photo {
    width: 80%;
    padding-top: 2rem;
  }
  .about__container__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 2rem 2rem 2rem;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__copyright {
    order: 0;
    font-size: var(--fs-small);
  }
  .footer .social-links__list .list-item {
    max-width: 15%;
    flex-shrink: 0;
  }
  .guest-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 4rem;
    justify-items: normal;
    justify-content: center;
    align-items: center;
    align-content: start;
    padding-block: 4rem;
    width: min(90%, 82.5rem);
  }
  .guest-main .search-bar {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 32.5rem;
    margin-inline: auto;
  }
  .guest-main .search-bar button {
    padding: 0.85rem;
  }
  .guest-main__aside {
    gap: 3rem;
    padding-right: 4rem;
    border-right: 0.25rem solid white;
    border-bottom: none;
    height: 100vh;
    margin-top: 2rem;
  }
  .guest-main__list {
    margin-top: 2rem;
  }
  .guest-main__list__card {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: start;
  }
  .guest-main__list__card__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
  }
  .guest-main__list__card__buttons {
    display: flex;
  }
  .guest-main__list__card__dBirth {
    display: block;
  }
  .guest-main__list__card .drop-arrow {
    display: none;
  }
  .guest-main.prisoner-selected {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 4rem;
    justify-items: normal;
    justify-content: center;
    align-items: center;
    align-content: start;
  }
  .details {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0rem;
    margin-inline: auto;
  }
  .details__form__labels {
    grid-template-columns: repeat(2, 1fr);
  }
  .details__form__labels__title {
    grid-area: 1/1/span 1/span 2;
  }
  :is(.details__form__buttons__back, .details__form__buttons__submit) {
    padding-inline: 3.5rem;
  }
  .help__qa__question {
    padding-inline: 2rem 2.5rem;
  }
  .profile {
    grid-template-columns: 1fr 2fr;
    width: min(100% - 4rem, 50rem);
  }
  .profile__title {
    align-self: start;
  }
  .profile__data {
    grid-column: 2/3;
    align-self: start;
  }
  .profile__card-button {
    font-size: var(--fs-very-small);
  }
}
@media screen and (min-width: 1150px) {
  .header .nav__toggle {
    display: none;
  }
  .header__nav {
    position: static;
  }
  .header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: var(--fs-medium);
  }
  .header__nav-list .list__item {
    margin-block: 0;
  }
  .main__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "slimCard1 wideCard1 wideCard1" "wideCard2 wideCard2 slimCard2";
  }
  .stats-info {
    padding: 4rem 5rem 4rem 5rem;
  }
  .stats-info__container__card--1, .stats-info__container__card--2, .stats-info__container__card--3 {
    padding: 1rem;
  }
  .guest-main__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 3rem;
    flex-direction: column;
    padding: 0rem;
  }
  .guest-main__list__card {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: start;
  }
  .guest-main__list__card__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
  }
  .guest-main__list__card__dBirth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
  }
  .guest-main__list__card__buttons {
    flex-direction: row;
  }
  .help__qa__question {
    padding-inline: 3rem 3.5rem;
  }
  .profile {
    width: min(100% - 4rem, 57.5rem);
  }
}
@media screen and (min-width: 1470px) {
  .main__container {
    grid-template-columns: 1.15fr 1fr 1fr 1.15fr;
    grid-template-areas: "slimCard1 wideCard1 wideCard1 slimCard2" "slimCard1 wideCard2 wideCard2 slimCard2";
  }
  .stats-info {
    padding: 4rem 5rem 4rem 5rem;
  }
  .help__qa__question {
    padding-inline: 4rem 4.5rem;
  }
}