@use '../sass-utils/' as *;
@use '../base/' as *;

.stats-info__container__card {
    &--1,&--2,&--3{
    border-radius: 0.75rem;
    padding: 1rem 1.65rem 1rem 1.65rem;
    text-align: center;
    @include flex-display(left,auto,0);
    height: 100%;
    width: 100%;
    box-shadow: 0rem 0.25rem 0.5rem 0rem hsla(0, 0%, 0%, 0.39);
    }    
}