<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css/main.css">
  <link rel="icon" href="/assets/tab-icon.svg">
  <title>Detalii despre vizitatori</title>
</head>

<body>
  <header class="header" id="page-header">
    <div class="header__container">
      <a href="/views/index.html">
        <img class="header__logo" src="/assets/header/Broken-Dreams.png" alt="Logo">
      </a>
      <div class="nav__toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="list__item">
            <a href="/views/index.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/house-icon.svg" alt="home-logo">
              <p class="list__item-text">Acasa</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/about.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/info-icon.svg" alt="info-logo">
              <p class="list__item-text">Despre</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/statistics.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/statistics-icon.svg" alt="statistics-logo">
              <p class="list__item-text">Statistici</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/contact.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/contact-icon.svg" alt="contact-logo">
              <p class="list__item-text">Contact</p>
            </a>
          </li>
          <li class="list__item">
            <img class="person-logo" src="/assets/header/person.jpg" alt="person-logo">
            <img class="list__item-icon" src="/assets/header/logout.svg" alt="contact-logo">
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="guest-main">
    <form class="searchbar">
      <input type="text" name="searchPrisoner" id="searchPrisoner" placeholder="Caută un deținut">
      <button type="submit">
        <img src="/assets/guest-details/search.svg" alt="search bar">
      </button>
    </form>
    <ul class="result-list"></ul>
    <section class="guest-main__aside">
      <button id="add-visitor" class="guest-main__aside__button">
        Adauga vizitator
      </button>
      <button class="guest-main__aside__button">
        Șterge toți vizitatorii
      </button>
    </section>
    <ul class="guest-main__list">
      <li class="guest-main__list__card">
        <img src="/assets/guest-details/photo1.png" alt="guest photo" class="guest-main__list__card__photo">
        <div class="guest-main__list__card__name">
          <p class="guest-main__list__card__label">
            Nume:
            <span class="guest-main__list__card__info">Popescu Ion</span>
          </p>
        </div>
        <div class="drop-arrow">
          <span class="vBar"></span>
          <span class="vBar"></span>
        </div>
        <div class="guest-main__list__card__dBirth">
          <p class="guest-main__list__card__label">
            Data nasterii:
            <time class="guest-main__list__card__info" datetime="1973-09-23">24.09.1973</time>
          </p>
        </div>
        <div class="guest-main__list__card__buttons">
          <button class="guest-main__list__card__buttons__delete">
            <img src="/assets/guest-details/trash.svg" alt="delete button">
          </button>
          <button class="guest-main__list__card__buttons__edit">
            <img src="/assets/guest-details/pen.svg" alt="edit button">
          </button>
        </div>
      </li>
      <li>
        <a href="/views/visitDetails.html" class="guest-main__list__next-page">Continua</a>
      </li>
    </ul>
  </main>

  <footer class="footer">
    <div class="footer__container">
      <p class="footer__copyright">
        &copy; Copyright Broken Dreams 2023. Toate drepturile rezervate.
        <a href="/documentation/index.html" class="doc-link">Project documentation &#x21A9;</a>
      </p>
      <nav class="footer__social-links">
        <ul class="social-links__list">
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/facebook-icon.svg" alt="facebook-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/email-icon.svg" alt="email-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/whatsapp-icon.svg" alt="whatsapp-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="#page-header" class="list-item__link">
              <img src="/assets/footer/back-to-top.svg" alt="back-to-top logo">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>

  <script src="/scripts/detailsModal.js"></script>
  <script src="/scripts/utils.js"></script>
</body>

</html>