@use '../base/' as *;
@use '../sass-utils/' as *;

.about {

    background-image: url("../../assets/background.png");
    background-size: cover;
    background-position: center;

    &__title {
        @include flex-display(center, center, 1rem);
        padding: 1.5rem 1.5rem 4rem 1.5rem;

        &-icon {
            width: map-get($font-sizes, huge);
        }
    }

    &__container {
        margin-top: 1rem;


        .line {
            flex: 1;
            height: 0.25rem;
            border-radius: 0.5rem;
        }

        &__title-left {
            @include flex-display(center, center, 0.5rem);
            padding: 0 3rem 0 2rem;
        }

        &__title-right {
            @include flex-display(center, center, 0.5rem);
            flex-direction: row-reverse;
            padding: 0 3rem 0 2rem;
        }

        &-description {
            width: 100%;
        }

        &-photo {
            width: 80%;
            padding-top: 2rem;
        }

        &__info {
            @include grid-display(1fr 1fr, 1fr, 2rem, center, center, center, center);
            padding: 0 2rem 2rem 2rem;
        }
    }
}