<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css/main.css">
  <link rel="icon" href="/assets/tab-icon.svg">
  <title>About</title>
</head>

<body>
  <header class="header" id="page-header">
    <div class="header__container">
      <a href="/">
        <img class="header__logo" src="/assets/header/page_logo.svg" alt="Logo">
      </a>
      <div class="nav__toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="list__item">
            <a href="/" class="nav-link">
              <img class="list__item-icon" src="/assets/header/house-icon.svg" alt="home-logo">
              <p class="list__item-text">Acasa</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/about.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/info-icon.svg" alt="info-logo">
              <p class="list__item-text">Despre</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/statistics.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/statistics-icon.svg" alt="statistics-logo">
              <p class="list__item-text">Statistici</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/contact.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/contact-icon.svg" alt="contact-logo">
              <p class="list__item-text">Contact</p>
            </a>
          </li>
          <li class="list__item">
            <a href="" class="profile-link">
              <img class="person-logo" src="" alt="person-logo">
            </a>
            <button id="logout-button">
              <img class="list__item-icon" src="/assets/header/logout.svg" alt="contact-logo">
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="about">
    <div class="about__title">
      <img class="about__title-icon" src="/assets/about/time.svg" alt="Time Photo">
      <h1 class="about__title-text">Scurt Istoric</h1>
      <img class="about__title-icon" src="/assets/about/time.svg" alt="Time Photo">
    </div>

    <a href="/documentation/index.html" class="project-documentation">Documentatia proiectului &#x21A9;</a>

    <div class="about__container">
      <div class="about__container__title-left">
        <span class="about__container title-text">1942-1943</span>
        <hr class="about__container line">
      </div>
      <div class="about__container__info">
        <p class="about__container-description">
          La cererea regelui Mihai I, a fost construit penitenciarul Broken
          Dreams dedicat prizonierilor celui de al 2-lea Razboi Mondial.
          Astfel, dupa eforturi colosale din partea muncitorilor, in anul 1943
          inchisoarea a fost terminata.
        </p>
        <img class="about__container-photo" src="/assets/about/history1.png" alt="Photo1">
      </div>
    </div>

    <div class="about__container">
      <div class="about__container__title-right">
        <span class="about__container title-text">1977</span>
        <hr class="about__container line">
      </div>
      <div class="about__container__info reverse">
        <img class="about__container-photo" src="/assets/about/history2.png" alt="Photo2">
        <p class="about__container-description">
          Penitenciarul Broken Dreams intra in renovari dupa ce a fost afectat
          de cutremurul din acelasi an cu o magnitudine de 7.1 pe scara
          Richter ce a starnit eventual si un incendiu. Acoperisul si o parte
          din peretii exteriori au fost grav afectati, astfel incat s-a cerut
          mutarea imediata si temporara a detinutilor in cel mai apropiat
          penitenciar.
        </p>
      </div>
    </div>

    <div class="about__container">
      <div class="about__container__title-left">
        <span class="about__container title-text">1985</span>
        <hr class="about__container line">
      </div>
      <div class="about__container__info">
        <p class="about__container-description">
          Penitenciarul Broken Dreams a primit unul dintre cele mai mari
          premii pentru demonstrarea de-a lungul anilor a unei securitati
          stricte in incinta, fiind recunoscut la nivel global. Inmanarea a
          fost facuta de insusi Nicolae Ceausescu.
        </p>
        <img class="about__container-photo" src="/assets/about/history3.png" alt="Photo3">
      </div>
    </div>

    <div class="about__container">
      <div class="about__container__title-right">
        <span class="about__container title-text">2007</span>
        <hr class="about__container line">
      </div>
      <div class="about__container__info reverse">
        <img class="about__container-photo" src="/assets/about/history4.png" alt="Photo4">
        <p class="about__container-description">
          A fost inregistrata prima tentativa de evadare din partea unui
          detinut ce a fost plasat in penitenciarul nostru in 2006. Din
          fericire, paznicii au fost agili, reusind astfel sa captureze
          fugarul. Acesta a declarat faptul ca, urmarind serialul nou aparut
          “Prison Break”, a incercat o evadare ca in filme.
        </p>
      </div>
    </div>

    <div class="about__container">
      <div class="about__container__title-left">
        <span class="about__container title-text">Prezent</span>
        <hr class="about__container line">
      </div>
      <div class="about__container__info">
        <p class="about__container-description">
          Ne putem lauda cu faptul ca din anul constructiei inchisorii (1943),
          nici un detinut nu a reusit sa evadeze. Mai mult, in anul 2015 a
          fost construita o noua cladire ce a reusit dublarea capacitatii
          totale. Astfel, ramanem deschisi la orice propunere de retinere a
          unui individ periculos pentru societate.
        </p>
        <img class="about__container-photo" src="/assets/about/history5.png" alt="Photo5">
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer__container">
      <p class="footer__copyright">
        &copy; Copyright Broken Dreams 2023. Toate drepturile rezervate.
        <a href="/views/help.html" class="doc-link">Help &#x21A9;</a>
      </p>
      <nav class="footer__social-links">
        <ul class="social-links__list">
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/facebook-icon.svg" alt="facebook-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/email-icon.svg" alt="email-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/whatsapp-icon.svg" alt="whatsapp-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="#page-header" class="list-item__link">
              <img src="/assets/footer/back-to-top.svg" alt="back-to-top logo">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  <script src="/scripts/main.js"></script>
</body>

</html>