<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css/main.css">
  <link rel="icon" href="/assets/tab-icon.svg">
  <title>Help</title>
</head>

<body>
  <header class="header" id="page-header">
    <div class="header__container">
      <a href="/">
        <img class="header__logo" src="/assets/header/page_logo.svg" alt="Logo">
      </a>
      <div class="nav__toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="list__item">
            <a href="/" class="nav-link">
              <img class="list__item-icon" src="/assets/header/house-icon.svg" alt="home-logo">
              <p class="list__item-text">Acasa</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/about.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/info-icon.svg" alt="info-logo">
              <p class="list__item-text">Despre</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="nav-link" id="stats-link">
              <img class="list__item-icon" src="/assets/header/statistics-icon.svg" alt="statistics-logo">
              <p class="list__item-text">Statistici</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/contact.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/contact-icon.svg" alt="contact-logo">
              <p class="list__item-text">Contact</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="profile-link">
              <img class="person-logo" src="" alt="person-logo">
            </a>
            <button id="logout-button">
              <img class="list__item-icon" src="/assets/header/logout.svg" alt="contact-logo">
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="help">
    <h1 class="help__title">Centrul de ajutor</h1>
    <details class="help__qa">
      <summary class="help__qa__question">
        <div class="help__qa__question__arrow"></div>
        <h2 class="help__qa__question__text">"Cum să mă conectez cu un cont deja existent?"</h2>
      </summary>
      <ol class="help__qa__steps">
        <li class="help__qa__steps__step">
          <p>În dreapta ecranului caută iconița de profil și apăsați click pe ea.</p>
          <img src="/assets/help/q1s1.png" alt="question1/step1">
        </li>
        <li class="help__qa__steps__step">
          <p>Veți ajunge pe pagina de login. Aici va trebui sa completați formularul cu adresa de email asociată
            contului și cu parola setată la crearea contului.
            Apăsați pe butonul <span class="help__qa__steps__step__highlight">Log In</span>.
          </p>
          <img src="/assets/help/q1s2.png" alt="question1/step2">
        </li>
        <p class="help__qa__steps__step"><span class="help__qa__steps__step__highlight">Felicitări!</span> V-ați
          conectat cu succes.</p>
      </ol>
    </details>
    <details class="help__qa">
      <summary class="help__qa__question">
        <div class="help__qa__question__arrow"></div>
        <h2 class="help__qa__question__text">"Cum îmi pot crea un cont?"</h2>
      </summary>
      <ul class="help__qa__steps">
        <li class="help__qa__steps__step">
          <p>În dreapta ecranului căutați iconița de profil și apăsați click pe ea.</p>
          <img src="/assets/help/q1s1.png" alt="question2/step1">
        </li>
        <li class="help__qa__steps__step">
          <p>Veți ajunge pe pagina de login. Aici va trebui sa apăsați butonul <span
              class="help__qa__steps__step__highlight">Sign Up</span>.</p>
          <img src="/assets/help/q2s2.png" alt="question2/step2">
        </li>
        <li class="help__qa__steps__step">
          <p>Veți ajunge pe pagina de sign up. Aici va trebui sa completați formularul cu prenumele si numele dvs., o
            adresa de email validă,
            o parolă ce va fi asociata contului și va trebui sa încărcați o poza de profil. După toate acestea, apăsați
            butonul
            <span class="help__qa__steps__step__highlight">Sign Up</span>.
          </p>
          <img src="/assets/help/q2s3.png" alt="question2/step3">
        </li>
        <p class="help__qa__steps__step"><span class="help__qa__steps__step__highlight">Felicitări!</span> V-ați creat
          un cont cu succes. Odată cu înregistrarea contului veți fi conectat cu acesta.</p>
      </ul>
    </details>
    <details class="help__qa">
      <summary class="help__qa__question">
        <div class="help__qa__question__arrow"></div>
        <h2 class="help__qa__question__text">"Cum pot programa o vizită?"</h2>
      </summary>
      <ul class="help__qa__steps">
        <li class="help__qa__steps__step">
          <p>Pe pagina principală, apăsați butonul <span class="help__qa__steps__step__highlight">Programează o
              vizită</span>.</p>
          <img src="/assets/help/q3s1.png" alt="question3/step1">
        </li>
        <li class="help__qa__steps__step">
          <p>Veți ajunge pe pagina de înregistrare a informațiilor legate de vizitatori. Aici va trebui să căutați
            prisonierul pe care doriți să-l vizitați, folosind bara de căutare.</p>
          <img src="/assets/help/q3s2.png" alt="question3/step2">
        </li>
        <li class="help__qa__steps__step">
          <p>Din rezultatele generate, selectați prisonierul pe care doriți să-l vizitați.</p>
          <img src="/assets/help/q3s3.png" alt="question3/step3">
        </li>
        <li class="help__qa__steps__step">
          <p>După selectarea prizonierului, aveți opțiunea să vă adăugați ca vizitator.</p>
          <img src="/assets/help/q3s4.png" alt="question3/step4">
        </li>
        <li class="help__qa__steps__step">
          <p>Dacă alegeți această opțiune, vi se va deschide o fereastră în care trebuie
            să completați date necesare vizitei.</p>
          <img src="/assets/help/q3s5.png" alt="question3/step5">
        </li>
        <li class="help__qa__steps__step">
          <p>De asemenea, puteți alege să adăugați alți vizitatori ce vă pot însoți.</p>
          <img src="/assets/help/q3s6.png" alt="question3/step6">
        </li>
        <li class="help__qa__steps__step">
          <p>Dacă alegeți această opțiune, vi se va deschide o fereastră în care trebuie
            să completați date necesare vizitei.</p>
          <img src="/assets/help/q3s7.png" alt="question4/step7">
        </li>
        <li class="help__qa__steps__step">
          <p>Dacă sunteți în stadiul în care ați înregistrat minim un vizitator(pe dvs.
            sau altcineva) și maxim 5, puteți apăsa butonul
            <span class="help__qa__steps__step__highlight">Continuă</span>
          </p>
          <img src="/assets/help/q3s8.png" alt="question3/step8">
        </li>
        <li class="help__qa__steps__step">
          <p>Ați ajuns pe ultima pagină în care va trebui să completați informațiile
            referitoare la vizită. Apoi apăsați butonul
            <span class="help__qa__steps__step__highlight">Trimite</span>
          </p>
          <img src="/assets/help/q3s9.png" alt="question3/step9">
        </li>
        <p class="help__qa__steps__step"><span class="help__qa__steps__step__highlight">Felicitari!</span>
          Ați reușit să programați cu succes o vizită!</p>
      </ul>
    </details>
  </main>

  <footer class="footer">
    <div class="footer__container">
      <p class="footer__copyright">
        &copy; Copyright Broken Dreams 2023. Toate drepturile rezervate.
        <a href="/views/help.html" class="doc-link">Help &#x21A9;</a>
      </p>
      <nav class="footer__social-links">
        <ul class="social-links__list">
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/facebook-icon.svg" alt="facebook-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/email-icon.svg" alt="email-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/whatsapp-icon.svg" alt="whatsapp-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="#page-header" class="list-item__link">
              <img src="/assets/footer/back-to-top.svg" alt="back-to-top logo">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  <script src="/scripts/main.js"></script>
</body>

</html>