<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Join Detention Admin website today! Create your account on our Signup page and unlock a world of interesting features. It's quick, easy, and free to sign up. Simply provide the required information, set up your profile, and get started on your journey. Join our thriving community and connect with like-minded individuals. Experience the power of Detention Admin website and let us help you achieve your needs.">
  <link rel="stylesheet" href="/styles/css/main.css">
  <link rel="icon" href="/assets/tab-icon.svg">
  <title>Sign Up Page</title>
</head>

<body>
  <header class="header" id="page-header">
    <div class="header__container">
      <a href="/">
        <img class="header__logo" src="/assets/header/page_logo.svg" alt="Logo">
      </a>
      <div class="nav__toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="list__item">
            <a href="/" class="nav-link">
              <img class="list__item-icon" src="/assets/header/house-icon.svg" alt="home-logo">
              <p class="list__item-text">Acasa</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/about.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/info-icon.svg" alt="info-logo">
              <p class="list__item-text">Despre</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="nav-link" id="stats-link">
              <img class="list__item-icon" src="/assets/header/statistics-icon.svg" alt="statistics-logo">
              <p class="list__item-text">Statistici</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/contact.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/contact-icon.svg" alt="contact-logo">
              <p class="list__item-text">Contact</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="profile-link">
              <img class="person-logo" src="" alt="person-logo">
            </a>
            <button id="logout-button">
              <img class="list__item-icon" src="/assets/header/logout.svg" alt="contact-logo">
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="login">
    <div class="container">
      <h1 class="container__title">Inregistreaza-te</h1>
      <form action="#" id="signup-form" class="container__form" enctype="multipart/form-data">
        <div class="container__form-field">
          <label for="firstName">First name</label>
          <input id="firstName" required type="text" name="firstName" placeholder="Enter your first name">
          <p class="validation-error first_name-error"></p>
        </div>
        <div class="container__form-field">
          <label for="lastName">Last name</label>
          <input id="lastName" required type="text" name="lastName" placeholder="Enter your last name">
          <p class="validation-error last_name-error"></p>
        </div>
        <div class="container__form-field">
          <label for="email">Email Adress</label>
          <input id="email" required type="email" name="email" placeholder="Enter your email">
          <p class="validation-error email-error"></p>
        </div>
        <div class="container__form-field">
          <label for="password">Password</label>
          <input id="password" required type="password" name="password" placeholder="Enter your password">
          <p class="validation-error password-error"></p>
        </div>
        <div class="container__form-field">
          <label for="photo" id="photo-label">
            <span class="photo-upload">Incarca o poza 📁</span>
          </label>
          <p class="validation-error photo-error"></p>
          <input id="photo" type="file" accept="image/png, image/jpeg" name="photo">
        </div>
        <div class="container__form-buttons">
          <button type="submit" class="container__form-submit">Sign up</button>
          <button type="button" class="container__form-submit" onclick="window.location.assign('/views/login.html');">
            Log in
          </button>
        </div>
      </form>
    </div>
  </main>

  <footer class="footer">
    <div class="footer__container">
      <p class="footer__copyright">
        &copy; Copyright Broken Dreams 2023. Toate drepturile rezervate.
        <a href="/views/help.html" class="doc-link">Help &#x21A9;</a>
      </p>
      <nav class="footer__social-links">
        <ul class="social-links__list">
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/facebook-icon.svg" alt="facebook-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="mailto:detentionwebsite@gmail.com?subject=Contact us" class="list-item__link">
              <img src="/assets/footer/email-icon.svg" alt="email-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/whatsapp-icon.svg" alt="whatsapp-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="#page-header" class="list-item__link">
              <img src="/assets/footer/back-to-top.svg" alt="back-to-top logo">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>

  <script src="/scripts/main.js"></script>
  <script src="/scripts/authUtils.js"></script>
</body>

</html>