<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Explore comprehensive statistics and data insights on Detention Admin website's Statistics page. Gain valuable knowledge through visually appealing charts and graphs that showcase relevant metrics about how many visits were scheduled, the number of new prisoners and more. Our interactive charts provide a dynamic and engaging experience, allowing you to make informed decisions and uncover meaningful insights.">
  <link rel="stylesheet" href="/styles/css/main.css">
  <link rel="icon" href="/assets/tab-icon.svg">
  <title>Statistici</title>
</head>

<body>
  <header class="header" id="page-header">
    <div class="header__container">
      <a href="/">
        <img class="header__logo" src="/assets/header/page_logo.svg" alt="Logo">
      </a>
      <div class="nav__toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="list__item">
            <a href="/" class="nav-link">
              <img class="list__item-icon" src="/assets/header/house-icon.svg" alt="home-logo">
              <p class="list__item-text">Acasa</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/about.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/info-icon.svg" alt="info-logo">
              <p class="list__item-text">Despre</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="nav-link" id="stats-link">
              <img class="list__item-icon" src="/assets/header/statistics-icon.svg" alt="statistics-logo">
              <p class="list__item-text">Statistici</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/contact.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/contact-icon.svg" alt="contact-logo">
              <p class="list__item-text">Contact</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="profile-link">
              <img class="person-logo" src="" alt="person-logo">
            </a>
            <button id="logout-button">
              <img class="list__item-icon" src="/assets/header/logout.svg" alt="contact-logo">
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="stats-info">
    <div class="stats-info__container">
      <div class="stats-info__container__card--1">
        <p class="stats-info__container__description">
          <span class="highlight" id="no1"></span>
          noi detinuți în 2023 până în prezent
        </p>
      </div>
      <div class="stats-info__container__card--2">
        <p class="stats-info__container__description">
          <span class="highlight" id="no2"></span>
          detinuți eliberați în 2023 până în prezent
        </p>
      </div>
      <div class="stats-info__container__card--3">
        <p class="stats-info__container__description">
          <span class="highlight" id="no3"></span>
          vizite sunt efectuate in medie per prizonier lunar
        </p>
      </div>
    </div>
  </div>

  <main class="stats-main">
    <div class="stats-main__chart-container" id="chart-container1">
      <div class="stats-main__chart-container__title">
        <h2>Evoluția numărului deținuților în ultimii 8 ani</h2>
      </div>
      <canvas class="charts" id="chart1"></canvas>
    </div>
    <div class="stats-main__chart-container" id="chart-container2">
      <div class="stats-main__chart-container__title">
        <h2>Numărul deținuților din fiecare categorie de pedeapsă</h2>
      </div>
      <canvas class="charts" id="chart2"></canvas>
    </div>
    <div class="stats-main__chart-container" id="chart-container3">
      <div class="stats-main__chart-container__title">
        <h2>Frecvența vizitelor pe parcursul ultimului an</h2>
      </div>
      <canvas class="charts" id="chart3"></canvas>
    </div>
  </main>

  <footer class="footer">
    <div class="footer__container">
      <p class="footer__copyright">
        &copy; Copyright Broken Dreams 2023. Toate drepturile rezervate.
        <a href="/views/help.html" class="doc-link">Help &#x21A9;</a>
      </p>
      <nav class="footer__social-links">
        <ul class="social-links__list">
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/facebook-icon.svg" alt="facebook-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/email-icon.svg" alt="email-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/whatsapp-icon.svg" alt="whatsapp-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="#page-header" class="list-item__link">
              <img src="/assets/footer/back-to-top.svg" alt="back-to-top logo">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  <script src="/scripts/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/scripts/statistics.js"></script>
</body>

</html>