<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css/main.css">
  <link rel="icon" href="/assets/tab-icon.svg">
  <title>User Profile</title>
</head>

<body>
  <header class="header" id="page-header">
    <div class="header__container">
      <a href="/">
        <img class="header__logo" src="/assets/header/page_logo.svg" alt="Logo">
      </a>
      <div class="nav__toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="list__item">
            <a href="/" class="nav-link">
              <img class="list__item-icon" src="/assets/header/house-icon.svg" alt="home-logo">
              <p class="list__item-text">Acasa</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/about.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/info-icon.svg" alt="info-logo">
              <p class="list__item-text">Despre</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="nav-link" id="stats-link">
              <img class="list__item-icon" src="/assets/header/statistics-icon.svg" alt="statistics-logo">
              <p class="list__item-text">Statistici</p>
            </a>
          </li>
          <li class="list__item">
            <a href="/views/contact.html" class="nav-link">
              <img class="list__item-icon" src="/assets/header/contact-icon.svg" alt="contact-logo">
              <p class="list__item-text">Contact</p>
            </a>
          </li>
          <li class="list__item">
            <a href="#" class="profile-link">
              <img class="person-logo" src="" alt="person-logo">
            </a>
            <button id="logout-button">
              <img class="list__item-icon" src="/assets/header/logout.svg" alt="contact-logo">
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="profile">
    <div class="profile-wrapper">
      <div class="profile__card">
        <div class="profile__card-banner">
          <img src="" alt="profile-picture" class="profile__card-photo">
        </div>
        <div class="profile__card-details">
          <p class="user-name"></p>
          <p class="user-email"></p>
        </div>
        <button type="button" class="profile__card-button">Edit your profile</button>
      </div>
      <div class="custom-select" style="display: none;">
        <select class="download-options" data-value="" onfocus="this.setAttribute('data-value', this.value);"
          onchange="this.setAttribute('data-value', this.options[this.selectedIndex].value);">
          <option value="" selected disabled hidden>Download statistics ↓</option>
          <option value="CSV">CSV 📄</option>
          <option value="HTML">HTML 📄</option>
          <option value="JSON">JSON 📄</option>
        </select>
      </div>
      <form action="#" id="importData" style="display: none;" enctype="multipart/form-data">
        <input type="file" name="myFileUpload" id="myFileUpload" accept=".csv, application/json">
        <label for="myFileUpload"><span class="label-text">Import data 📂</span></label>
        <p class="upload-error" style="display: none;">Only csv or json files are accepted!</p>
        <button type="submit" style="display: none;">Save</button>
      </form>
    </div>
    <section class="profile__data">
      <h1 class="profile__title"></h1>
      <div id="visitsHistory">
        <ul class="paginated-list" aria-live="polite"></ul>
        <nav class="pagination-container">
          <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
            &lt; Prev
          </button>
          <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
            Next &gt;
          </button>
        </nav>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer__container">
      <p class="footer__copyright">
        &copy; Copyright Broken Dreams 2023. Toate drepturile rezervate.
      </p>
      <nav class="footer__social-links">
        <ul class="social-links__list">
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/facebook-icon.svg" alt="facebook-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/email-icon.svg" alt="email-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="" class="list-item__link">
              <img src="/assets/footer/whatsapp-icon.svg" alt="whatsapp-logo">
            </a>
          </li>
          <li class="list-item">
            <a href="#page-header" class="list-item__link">
              <img src="/assets/footer/back-to-top.svg" alt="back-to-top logo">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  <script src="/scripts/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="/scripts/modals.js"></script>
  <script src="/scripts/fetchProfile.js"></script>
</body>

</html>