@use '../sass-utils/' as *;
@use '../base/' as *;

@include media-min(map-get($breakpoints, medium)) {
    .main {
        &__container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                'slimCard1 slimCard2'
                'wideCard1 wideCard1'
                'wideCard2 wideCard2';
        }

        :is(#wideCard1, #wideCard2) {
            max-width: 42.5rem;
        }

        #wideCard1 {
            grid-template-columns: 1.35fr 2fr;

            .card__img {
                grid-row: 1 / span 3;
                border-top-right-radius: 0;
                border-bottom-left-radius: 1.5rem;
            }
        }

        #wideCard2 {
            grid-template-columns: 2fr 1.35fr;

            .card__img {
                grid-row: 1 / span 3;
                grid-column: 2 / -2;
                border-top-left-radius: 0;
                border-bottom-right-radius: 1.5rem;
            }
        }
    }

    .stats-info {
        padding: 4rem 5rem 4rem 5rem;
        width: min(90%, 83.5rem);
        margin-inline: auto;

        &__container {
            @include grid-display(1fr 1fr 1fr, auto, 1rem, center, center, center, center);
        }
    }

    .stats-main {
        padding: 0;

        &__chart-container {
            margin-inline: auto;
            padding: 4rem 8rem 4rem 8rem;
            width: min(90%, 83.5rem);
            border-top: 0.35rem solid;
            border-radius: 0.25rem;

            &__title {
                width: max(79%, 20rem);
                padding: 1.5rem 1.5rem 2.5rem 1.5rem;
            }
        }
    }

    .contact {
        &__title {
            font-size: map-get($font-sizes, huge);
            transition: ease all 1s;
        }

        &__form {

            &-wrapper {
                padding-inline: 3rem;
            }

            &-fieldset {
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='white' stroke-width='5' stroke-dasharray='20' stroke-dashoffset='25' stroke-linecap='square'/%3e%3c/svg%3e");
            }

            legend {
                font-size: map-get($font-sizes, large);
                transition: font-size 1s;
            }

            &-button {
                justify-self: end;
            }
        }
    }

    .login {
        transition: box-shadow 1s;
        max-width: min(40rem, 80%);
        box-shadow: 0 0 2rem rgba(255, 255, 255, 0.1);

        input[name=email],
        input[name=password] {
            width: max(80%, 25rem);
        }

        &__form {

            &-buttons {
                @include flex-display(center, center, 2rem);
                flex-direction: row;
            }
        }
    }

    .header {
        .nav__toggle {
            display: none;
        }

        &__nav {
            position: static;
        }

        &__nav-list {
            @include flex-display(center, center, 1.5rem);
            font-size: var(--fs-medium);

            .list__item {
                margin-block: 0;
            }
        }
    }

    .footer {
        &__container {
            flex-direction: row;
            justify-content: space-between;
        }

        &__copyright {
            order: 0;
            font-size: var(--fs-small);
        }

        .social-links__list {
            .list-item {
                max-width: 15%;
                flex-shrink: 0;
            }
        }
    }

}


@include media-min(map-get($breakpoints, large)) {
    .main {
        &__container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                'slimCard1 wideCard1 wideCard1'
                'wideCard2 wideCard2 slimCard2';
        }
    }

    .stats-info {
        padding: 4rem 5rem 4rem 5rem;

        &__container {
            width: min(90%, 83.5rem);
            margin-inline: auto;
            @include grid-display(1fr 1fr 1fr, auto, 2rem, center, center, center, center);
        }
    }

    .stats-main {
        padding: 0;

        &__chart-container {
            border-top: 0.5rem solid;
            border-radius: 0.25rem;
            width: min(90%, 83.5rem);
            padding: 4rem 8rem 4rem 8rem;

            &__title {
                width: max(79%, 20rem);
                padding: 1.5rem 1.5rem 2.5rem 1.5rem;
            }
        }
    }
}

@include media-min(map-get($breakpoints, huge)) {
    .main {
        &__container {
            grid-template-columns: 1.15fr 1fr 1fr 1.15fr;
            grid-template-areas:
                'slimCard1 wideCard1 wideCard1 slimCard2'
                'slimCard1 wideCard2 wideCard2 slimCard2';
        }
    }

    .stats-info {
        padding: 4rem 5rem 4rem 5rem;

        &__container {
            width: min(90%, 83.5rem);
            margin-inline: auto;
            @include grid-display(1fr 1fr 1fr, auto, 2rem, center, center, center, center);
        }
    }

    .stats-main {

        &__chart-container {
            border-top: 0.5rem solid;
            border-radius: 0.25rem;
            width: min(90%, 83.5rem);
            margin-inline: auto;
            padding: 4rem 8rem 4rem 8rem;

            &__title {
                width: max(79%, 20rem);
                padding: 1.5rem 1.5rem 2.5rem 1.5rem;
            }
        }
    }
}