$colors: (
    primary-white: hsl(0, 0, 100%),
    primary-dark: hsl(0, 0%, 0%),
    primary-dark-gray: hsl(169, 26%, 20%),
    secondary-white: hsl(0, 0%, 80%),
    secondary-gray: hsl(0, 0%, 35%),
    secondary-black: hsl(120, 5%, 11%),
    accent-red: hsl(0, 97%, 65%),
    accent-charcoal: hsl(203, 19%, 30%),
    accent-beige: hsl(19, 91%, 78%),
    accent-maroon: hsl(320, 15%, 19%),
    accent-green: hsl(148, 30%, 46%),
    accent-light-green: hsl(90, 18%, 64%)
);
