$colors: (
    primary-white: hsl(0, 0%, 100%),
    primary-dark: hsl(0, 0%, 0%),
    primary-dark-gray: hsl(169, 26%, 20%),
    secondary-white: hsl(0, 0%, 80%),
    secondary-gray: hsl(0, 0%, 35%),
    secondary-black: hsl(120, 5%, 11%),
    accent-red: hsl(0, 97%, 65%),
    accent-charcoal: hsl(203, 19%, 30%),
    accent-beige: hsl(19, 91%, 78%),
    accent-maroon: hsl(320, 15%, 19%),
    accent-green: hsl(148, 30%, 46%),
    accent-light-green: hsl(90, 18%, 64%)
);

:is(header, .hero) :is(h1, p, a) {
    color: map-get($colors, primary-white);
}

.hero :is(.hero__main-link) {
    color: map-get($colors, primary-dark)
}

.main {
    &__title {
        color: map-get($colors, primary-white);
    }
}

:is(.card) :is(h2, p) {
    color: map-get($colors, primary-dark);
}

.card {
    .card &__container-date {
        color: map-get($colors, secondary-gray);
    }
    &__container-link {
        color: map-get($colors, primary-dark);
    }
}

.footer :is(p) {
    color: map-get($colors, primary-white);
}

.stats-info :is(p, span) {
    color: map-get($colors, primary-white);
}

.contact :is(h1, label, legend, button) {
    color: map-get($colors, primary-white);
}

.about {
    &__title {
        &-text {
            color: map-get($colors, primary-white);
        }
    }

    &__container {
        .title-text {
            color: map-get($colors, primary-white);
        }

        &-description {
            color: map-get($colors, primary-white);
        }
    }
}