@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&display=swap');

$ff-primary: 'Inter', sans-serif;
$ff-secondary: 'Lobster', cursive;

$font-weights: (
    regular: 400,
    semi-bold: 600,
    bold: 700
);

$font-sizes: (
    very-small: 0.75rem,
    small: 1rem,
    regular: 1.125rem,
    medium: 1.35rem,
    large: 1.5rem,
    extra-large: 2rem,
    huge: 3rem
);

:is(header, main, section, footer) :is(h1, h2, h3, p, span, a, label, input, legend, textarea, time) {
    font-family: $ff-primary;
}

.hero {
    &__title {
        font-family: $ff-primary;
        font-size: map-get($font-sizes, huge);
        font-weight: map-get($font-weights, bold);

        &--logo {
            font-family: $ff-secondary;
            font-size: map-get($font-sizes, huge);
            font-weight: map-get($font-weights, bold);
        }
    }

    &__description {
        font-size: map-get($font-sizes, medium);
        font-weight: map-get($font-weights, regular);
    }

    &__main-link {
        font-size: map-get($font-sizes, medium);
        font-weight: map-get($font-weights, bold);
    }
}

.header {
    &__nav {
        font-size: map-get($font-sizes, medium);
        font-weight: map-get($font-weights, semi-bold);
    }
}

:is(.main, .stats-info) :is(p, a) {
    font-size: map-get($font-sizes, small);
    font-weight: map-get($font-weights, regular);
}

.main {
   .card {
    &__title {
        font-size: map-get($font-sizes, medium);
    }
   } 
}

.stats-info__container {
    .highlight {
        font-size: map-get($font-sizes, huge);
        font-weight: map-get($font-weights,bold);
    }
    .stats-info__container__description {
        font-size: map-get($font-sizes, large);
        font-weight: map-get($font-weights, semi-bold);
    }
}

.contact {
    &__title {
        font-family: $ff-primary;
        font-size: map-get($font-sizes, huge);
        font-weight: map-get($font-weights, bold);
    }

    &__form-fieldset {
        font-size: map-get($font-sizes, regular);
        font-weight: map-get($font-weights, semi-bold);
    }

    :is(&__form-legend, &__form-button) {
        font-size: map-get($font-sizes, large);
    }
}

.aside {
    &__button-text {
        font-size: map-get($font-sizes, large);
        font-weight: map-get($font-weights, semi-bold);
    }
}

.guest-main {
    &__guest-card {
        font-size: map-get($font-sizes, regular);

        &__label {
            font-weight: map-get($font-weights, bold);
        }

        &__info {
            font-weight: map-get($font-weights, semi-bold);
        }
    }

    &__next-page {
        font-size: map-get($font-sizes, large);
        font-weight: map-get($font-weights, semi-bold);
    }

}
.details {
    &__title {
        font-size: map-get($font-sizes, extra-large);
        font-weight: map-get($font-weights, bold);
    }
    &__form {
        font-family: $ff-primary;
        font-size: map-get($font-sizes, medium);
        font-weight: map-get($font-weights, bold);
    }
}