@use '../base/' as *;
@use '../sass-utils/' as *;

.guest-dialog {
  font-family: $ff-primary;
  width: min(35.5rem, 100% - 2rem);
  margin: auto;
  border: 0;
  border-radius: 1rem;
  background-color: map-get($colors, accent-charcoal);
  color: map-get($colors, primary-white);

  .header-wrapper {
    width: min(100% - 4rem, 27.5rem);
    margin-inline: auto;
    @include flex-display(space-between, center, 0rem);
    padding-block: 2rem;

    .form-title {
      font-size: var(--fs-medium);
    }

    .form-toggle {
      width: 35px;
      height: 35px;
      background: none;
      border: 0;
      cursor: pointer;

      .bar {
        display: block;
        height: 5px;
        margin-bottom: 0.5rem;
        background-color: map-get($colors, primary-white);
      }

      .bar:is(:nth-child(1)) {
        transform: translateY(7px) rotate(-45deg);
      }

      .bar:is(:nth-child(2)) {
        transform: translateY(-6px) rotate(45deg);
      }
    }
  }

  .dialog__form {
    width: min(100% - 4rem, 27.5rem);
    margin-inline: auto;
    @include grid-display(1fr, auto, 1.5rem, start, center, center, center);
    padding-bottom: 2.5rem;

    .field-wrapper {
      width: 100%;
      font-size: var(--fs-small);

      label,
      input {
        display: block;
        width: 100%;
      }

      label {
        margin-bottom: 0.5rem;
        font-size: var(--fs-small);
      }

      input {
        border: none;
        outline: 0;
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
      }
    }

    .form-submit {
      justify-self: end;
      background-color: map-get($colors, accent-red);
      border: 0;
      cursor: pointer;
      border-radius: 0.75rem;
      color: map-get($colors, primary-white);
      padding: 0.75rem 2.5rem;
      transition: all 350ms ease-in-out;
    }

    .form-submit:is(:hover, :focus) {
      box-shadow: 0 0 2rem map-get($colors, accent-red);
    }

    .form-footer {
      width: 100%;
      @include flex-display(space-between, center, 1rem);

      .field-wrapper {
        input[type='file'] {
          display: none;
        }

        label[for='photo'] {
          background-color: map-get($colors, secondary-gray);
          margin-bottom: 0;
          padding-block: 0.75rem;
          border-radius: 0.75rem;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}

.visible {
  display: block;
}
