@use '../sass-utils/' as *;
@use '../base/' as *;

.header {
  &__logo {
    flex-basis: min(20%, 5rem);
  }

  .nav__toggle {
    cursor: pointer;
    display: block;
    width: 30px;

    .bar {
      display: block;
      width: 100%;
      height: 3px;
      margin-bottom: 0.5rem;
      background: map-get($colors, primary-white);
    }

    .bar:is(:nth-child(3)) {
      margin-bottom: 0;
    }
  }

  &__nav-list {
    display: block;

    .list__item {
      margin-block: 4rem;
      .nav-link {
        width: fit-content;
        margin-inline: auto;
        @include flex-display(center, center, 1rem);
        flex-direction: row;
      }

      &-text {
        color: map-get($colors, primary-white);
      }

      &-icon {
        max-width: 20%;
      }
    }

    .list__item:is(:last-child) {
      @include flex-display(center, center, 1rem);
      .person-logo {
        max-width: 2.5rem;
        border-radius: 100vh;
      }

      .list__item-icon {
        max-width: 2rem;
        cursor: pointer;
      }
    }
  }
}

.footer {
  &__copyright {
    order: 1;
    text-align: center;
    font-size: map-get($font-sizes, small);
  }

  .social-links__list {
    @include flex-display(space-between, center, 3.5rem);
    .list-item {
      max-width: 10%;
      flex-shrink: 0;
    }
  }
}
