@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image: url("../../../assets/background.png");
  background-color: #cccccc;
  background-size: contain;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:is(header, main, section, footer) :is(h1, h2, h3, p, span, a, label, input, legend, textarea, time) {
  font-family: "Inter", sans-serif;
}

.hero__title {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.hero__title--logo {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  font-weight: 700;
}
.hero__description {
  font-size: 1.25rem;
  font-weight: 400;
}
.hero__main-link {
  font-size: 1.25rem;
  font-weight: 700;
}

.header__nav {
  font-size: 1.25rem;
  font-weight: 600;
}

:is(.main, .stats-info) :is(p, a) {
  font-size: 1rem;
  font-weight: 400;
}

.stats-info .highlight {
  font-size: 1.5rem;
}

.contact__title {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.contact__form-fieldset {
  font-size: 1.125rem;
  font-weight: 600;
}
:is(.contact__form-legend, .contact__form-button) {
  font-size: 1.5rem;
}

.aside__button-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.guest-main__guest-card {
  font-size: 1.125rem;
}
.guest-main__guest-card__label {
  font-weight: 700;
}
.guest-main__guest-card__info {
  font-weight: 600;
}
.guest-main__next-page {
  font-size: 1.5rem;
  font-weight: 600;
}

.details__title {
  font-size: 2rem;
  font-weight: 700;
}
.details__form {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

:is(header, .hero) :is(h1, p, a) {
  color: hsl(0, 0%, 100%);
}

.hero :is(.hero__main-link) {
  color: hsl(0, 0%, 0%);
}

.main__title {
  color: hsl(0, 0%, 100%);
}

:is(.card) :is(h2, p) {
  color: hsl(0, 0%, 0%);
}

.card .card__container-date {
  color: hsl(0, 0%, 35%);
}
.card__container-link {
  color: hsl(0, 0%, 0%);
}

.footer :is(p) {
  color: hsl(0, 0%, 100%);
}

.stats-info :is(p, span) {
  color: hsl(0, 0%, 100%);
}

.contact :is(h1, label, legend, button) {
  color: hsl(0, 0%, 100%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: hsl(0, 0%, 0%);
  padding: 0.75rem 2rem 0.75rem 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: hsl(0, 0%, 0%);
  padding: 1rem 2.5rem 1rem 2.5rem;
  margin-top: 3rem;
}

.header__logo {
  max-width: 30%;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  gap: 1rem;
}
.header__nav-list .list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__nav-list .list__item .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  gap: 0.75rem;
}
.header__nav-list .list__item-text {
  color: hsl(0, 0%, 100%);
  font-size: 0.75rem;
}
.header__nav-list .list__item-icon {
  max-width: 20%;
}

.footer__copyright {
  white-space: nowrap;
  font-size: 0.75rem;
}
.footer .social-links__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-width: 1rem;
  flex-basis: 272px;
}
.footer .social-links__list .list-item {
  min-width: 10%;
  flex-shrink: 0;
}
.footer .social-links__list .list-item-arrow {
  min-width: 20%;
  flex-shrink: 0;
}

.about__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
}
.about__title-text {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  font-size: 3rem;
}
.about__title-icon {
  width: 3rem;
}
.about__container {
  margin: 1rem 0 1rem 0;
}
.about__container .title-text {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1.5rem;
}
.about__container .line {
  flex: 1;
  height: 0.25rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
}
.about__container__title-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 3rem 0 2rem;
}
.about__container__title-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row-reverse;
  padding: 0 3rem 0 2rem;
}
.about__container-description {
  width: 100%;
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
}
.about__container-photo {
  width: 80%;
}
.about__container__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 2rem 0 2rem;
}

.contact__title {
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  margin: 5rem 2rem 2rem 2rem;
}
.contact__form-fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  padding: 2rem;
  width: 50%;
  height: auto;
  border-color: hsl(0, 0%, 100%);
  border-radius: 7px;
  border: none;
  line-height: 1rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='white' stroke-width='5' stroke-dasharray='20' stroke-dashoffset='25' stroke-linecap='square'/%3e%3c/svg%3e");
  margin: auto;
}
.contact__form legend {
  background-color: hsl(0, 0%, 35%);
  font-weight: 400;
  padding: 1rem 0.35rem 1rem 0.35rem;
}
.contact__form label[for=first-name],
.contact__form label[for=last-name],
.contact__form label[for=email],
.contact__form label[for=suggestions] {
  display: block;
  font-size: 1.25rem;
  color: hsl(0, 0%, 90.2%);
  margin-bottom: 0.5rem;
}
.contact__form input {
  margin-bottom: 4rem;
  padding-left: 0.25rem;
  width: 20rem;
  height: 2rem;
  background-color: hsl(0, 0%, 90.2%);
  border: none;
  border-radius: 0.5rem;
}
.contact__form textarea[name=suggestions] {
  background-color: hsl(0, 0%, 90.2%);
  padding: 1rem;
  border-radius: 0.5rem;
}
.contact__form textarea[name=suggestions]::placeholder {
  font-weight: 400;
  font-size: 1rem;
}
.contact__form-button {
  margin-left: 12rem;
  border-width: 0.25rem;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}/*# sourceMappingURL=main.css.map */