@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lobster&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image: url("../../../assets/background.png");
  background-color: #cccccc;
  background-size: contain;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --fs-very-small: 0.65rem;
  --fs-small: 0.875rem;
  --fs-regular: 1rem;
  --fs-medium: 1.15rem;
  --fs-large: 1.35rem;
  --fs-extra-large: 1.75rem;
  --fs-huge: 2rem;
}

@media screen and (min-width: 800px) {
  :root {
    --fs-very-small: 0.75rem;
    --fs-small: 1rem;
    --fs-regular: 1.125rem;
    --fs-medium: 1.35rem;
    --fs-large: 1.5rem;
    --fs-extra-large: 2rem;
    --fs-huge: 3rem;
  }
}
:is(header, main, section, footer) :is(h1, h2, h3, p, span, a, label, input, legend, textarea, time) {
  font-family: "Inter", sans-serif;
}

.hero__title {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-huge);
  font-weight: 700;
}
.hero__title--logo {
  font-family: "Lobster", cursive;
  font-size: var(--fs-huge);
  font-weight: 700;
}
.hero__description {
  font-size: var(--fs-medium);
  font-weight: 400;
}
.hero__main-link {
  font-size: var(--fs-medium);
  font-weight: 700;
}

.header__nav {
  font-size: var(--fs-medium);
  font-weight: 600;
}

:is(.main, .stats-info) :is(p, a) {
  font-size: var(--fs-small);
  font-weight: 400;
}

.main .card__title {
  font-size: var(--fs-medium);
}
.main .card__container {
  font-size: var(--fs-small);
}

.stats-info__container .highlight {
  font-size: var(--fs-huge);
  font-weight: 700;
}
.stats-info__container .stats-info__container__description {
  font-size: var(--fs-extra-large);
  font-weight: 600;
}

.contact__title {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-huge);
  font-weight: 700;
}
.contact__form-fieldset {
  font-size: var(--fs-regular);
  font-weight: 600;
}
:is(.contact__form-legend, .contact__form-button) {
  font-size: var(--fs-large);
}

.guest-main {
  font-family: "Inter", sans-serif;
}
.guest-main__aside__button {
  font-size: var(--fs-large);
  font-weight: 600;
}
.guest-main__guest-card {
  font-size: var(--fs-regular);
}
.guest-main__guest-card__label {
  font-weight: 700;
}
.guest-main__guest-card__info {
  font-weight: 600;
}
.guest-main__next-page {
  font-size: var(--fs-large);
  font-weight: 600;
}

.details__title {
  font-size: var(--fs-extra-large);
  font-weight: 700;
}
.details__form {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-medium);
  font-weight: 700;
}

.about__title-text {
  font-weight: 400;
  font-size: var(--fs-huge);
}
.about__container .title-text {
  font-weight: 700;
  font-size: var(--fs-large);
}
.about__container-description {
  font-size: var(--fs-medium);
}

:is(header, .hero) :is(h1, p, a) {
  color: hsl(0, 0%, 100%);
}

.hero :is(.hero__main-link) {
  color: hsl(0, 0%, 0%);
}

.main__title {
  color: hsl(0, 0%, 100%);
}

:is(.card) :is(h2, p) {
  color: hsl(0, 0%, 0%);
}

.card .card__container-date {
  color: hsl(0, 0%, 35%);
}
.card__container-link {
  color: hsl(0, 0%, 0%);
}

.footer :is(p) {
  color: hsl(0, 0%, 100%);
}

.stats-info :is(p, span), .stats-main {
  color: hsl(0, 0%, 100%);
}

.stats-info__container__card--1 {
  background-color: hsl(320, 15%, 19%);
}
.stats-info__container__card--2 {
  background-color: hsl(148, 30%, 46%);
}
.stats-info__container__card--3 {
  background-color: hsl(90, 18%, 64%);
}

.contact :is(h1, label, legend, button) {
  color: hsl(0, 0%, 100%);
}

.stats-main__chart-container__title {
  background-color: hsl(120, 5%, 11%);
}

.about__title-text {
  color: hsl(0, 0%, 100%);
}
.about__container .title-text {
  color: hsl(0, 0%, 100%);
}
.about__container-description {
  color: hsl(0, 0%, 100%);
}

.stats-info__card {
  background-color: red;
}

.guest-main__aside__button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(169, 26%, 20%);
}
.guest-main__list__card {
  background-color: hsl(0, 0%, 80%);
}
.guest-main__list__next-page {
  font-size: var(--fs-large);
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 97%, 65%);
}

.header {
  background-color: hsl(0, 0%, 0%);
  padding: 1.65rem;
}
.header__container {
  width: min(90%, 83.5rem);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.footer {
  background-color: hsl(0, 0%, 0%);
  padding-block: 1.5rem;
  margin-top: 3rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: min(90%, 83.5rem);
  margin-inline: auto;
}

.header__logo {
  max-width: 30%;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  gap: 1.5rem;
}
.header__nav-list .list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header__nav-list .list__item .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  gap: 0.65rem;
}
.header__nav-list .list__item-text {
  color: hsl(0, 0%, 100%);
}
.header__nav-list .list__item-icon {
  max-width: 20%;
}

.footer__copyright {
  white-space: nowrap;
  font-size: 0.875rem;
}
.footer .social-links__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-width: 1rem;
}
.footer .social-links__list .list-item {
  max-width: 15%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.footer .social-links__list .list-item--arrow {
  max-width: 15%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.hero {
  min-height: 100vh;
  background-image: url(../../../assets/acasa/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.hero .wrapper {
  width: min(80%, 83.5rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 2.5rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.hero__title {
  text-align: center;
}
.hero__description {
  width: 70%;
  text-align: center;
}
.hero__main-link {
  padding: 1rem calc(1rem + 5vw);
  background-color: hsl(0, 97%, 65%);
  border-radius: 2rem;
  transition: all 250ms ease-in-out;
}
.hero__main-link:is(:hover, :focus) {
  box-shadow: 0 0 3.5rem hsl(0, 97%, 65%);
}
.hero__arrow {
  position: relative;
  top: 0;
  animation-name: moving-arrows;
  animation-duration: 750ms;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes moving-arrows {
  from {
    top: 0;
  }
  to {
    top: 1rem;
  }
}
.main {
  width: min(90%, 82.5rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 3rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3rem;
}
.main__rule {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  height: 5px;
  border-radius: 5rem;
}
.main__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1.35fr 1fr 1fr 1.35fr;
  grid-template-rows: auto;
  gap: 3rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-areas: "slimCard1 wideCard1 wideCard1 slimCard2" "slimCard1 wideCard2 wideCard2 slimCard2";
}
.main__container #slimCard1 {
  grid-area: slimCard1;
}
.main__container #slimCard2 {
  grid-area: slimCard2;
}
.main__container #wideCard1 {
  grid-area: wideCard1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main__container #wideCard1 .card__img {
  grid-row: 1/span 3;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1.5rem;
  align-self: stretch;
  object-fit: cover;
}
.main__container #wideCard2 {
  grid-area: wideCard2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main__container #wideCard2 .card__img {
  grid-row: 1/span 3;
  grid-column: 2/3;
  border-bottom-right-radius: 1.5rem;
  border-top-left-radius: 0;
  align-self: stretch;
  object-fit: cover;
}
.main__container .card {
  background-color: hsl(0, 0%, 80%);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 1.5rem;
}
.main__container .card__img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.main__container .card__title {
  text-align: center;
}
.main__container .card__description {
  width: 85%;
  text-align: center;
}
.main__container .card__title {
  padding-block: 1.5rem;
  border-bottom: 3px dashed hsl(0, 0%, 35%);
}
.main__container .card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

@media screen and (max-width: 1650px) {
  .main__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "slimCard1 wideCard1 wideCard1" "wideCard2 wideCard2 slimCard2";
  }
  .main__container #wideCard1 {
    justify-self: end;
  }
  .main__container #wideCard2 {
    justify-self: start;
  }
  .main__container :is(#slimCard1, #slimCard2) {
    max-width: 20rem;
  }
  .main__container :is(#wideCard1, #wideCard2) {
    max-width: 40rem;
  }
}
@media screen and (max-width: 1150px) {
  .main__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "slimCard1 slimCard2" "wideCard1 wideCard1" "wideCard2 wideCard2";
  }
  .main #wideCard1 {
    justify-self: center;
  }
  .main #wideCard2 {
    justify-self: center;
  }
}
@media screen and (max-width: 800px) {
  .main .card {
    max-width: 60%;
  }
  .main__container {
    grid-template-columns: none;
    grid-template-areas: "slimCard1" "slimCard2" "wideCard1" "wideCard2";
  }
  .main__container #wideCard1 {
    grid-template-columns: none;
    grid-template-rows: none;
  }
  .main__container #wideCard1 .card__img {
    aspect-ratio: 1/1;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1.5rem;
    grid-row: 1/2;
  }
  .main__container #wideCard2 {
    grid-template-columns: none;
    grid-template-rows: none;
  }
  .main__container #wideCard2 .card__img {
    aspect-ratio: 1/1;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1.5rem;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .main__container :is(#wideCard1, #wideCard2) {
    max-width: 20rem;
  }
}
.about__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
}
.about__title-icon {
  width: 2rem;
}
.about__container {
  margin: 1rem 0 1rem 0;
}
.about__container .line {
  flex: 1;
  height: 0.25rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
}
.about__container__title-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 3rem 0 2rem;
}
.about__container__title-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row-reverse;
  padding: 0 3rem 0 2rem;
}
.about__container-description {
  width: 100%;
}
.about__container-photo {
  width: 80%;
}
.about__container__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 2rem 0 2rem;
}

.contact__title {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  margin: 5rem 2rem 2rem 2rem;
}
.contact__form-fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  padding: 2rem;
  width: 50%;
  height: auto;
  border-color: hsl(0, 0%, 100%);
  border-radius: 7px;
  border: none;
  line-height: 1rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='white' stroke-width='5' stroke-dasharray='20' stroke-dashoffset='25' stroke-linecap='square'/%3e%3c/svg%3e");
  margin: auto;
}
.contact__form legend {
  background-color: hsl(0, 0%, 35%);
  font-weight: 400;
  padding: 1rem 0.35rem 1rem 0.35rem;
}
.contact__form label[for=first-name],
.contact__form label[for=last-name],
.contact__form label[for=email],
.contact__form label[for=suggestions] {
  display: block;
  font-size: 1.15rem;
  color: hsl(0, 0%, 90.2%);
  margin-bottom: 0.5rem;
}
.contact__form input {
  margin-bottom: 4rem;
  padding-left: 0.25rem;
  width: 20rem;
  height: 2rem;
  background-color: hsl(0, 0%, 90.2%);
  border: none;
  border-radius: 0.5rem;
}
.contact__form textarea[name=suggestions] {
  background-color: hsl(0, 0%, 90.2%);
  padding: 1rem;
  border-radius: 0.5rem;
}
.contact__form textarea[name=suggestions]::placeholder {
  font-weight: 400;
  font-size: 0.875rem;
}
.contact__form-button {
  margin-left: 12rem;
  border-width: 0.25rem;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.15rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url(../../../assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.stats-info {
  padding: 6rem 1.65rem 6rem 1.65rem;
}
.stats-info__container {
  padding: 0rem 6rem 0rem 6rem;
  width: min(90%, 83.5rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 4rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.stats-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  padding: 0rem 1.65rem 6rem 1.65rem;
}
.stats-main__chart-container {
  width: min(90%, 83.5rem);
  padding: 6rem;
  border-top: 0.5rem solid;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
}
.stats-main__chart-container img {
  justify-content: center;
  min-width: min(90%, 83.5rem);
  width: max(100%, 55rem);
}
.stats-main__chart-container__title {
  width: max(79%, 20rem);
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  margin-bottom: -2rem;
  box-shadow: 0.4rem -0.4rem 0.8rem 0rem hsla(0, 0%, 0%, 0.39);
}

.guest-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 4rem;
  justify-items: normal;
  justify-content: center;
  align-items: center;
  align-content: normal;
  padding: 6rem 1.65rem 6rem 1.65rem;
  width: min(90%, 83.5rem);
  margin-inline: auto;
}
.guest-main__aside {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 3rem;
  flex-direction: column;
  padding: 0rem 4rem 0rem 0rem;
  border-right: 0.25rem solid white;
  border-radius: 0.25rem;
}
.guest-main__list {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  gap: 3rem;
  flex-direction: column;
}
.guest-main__list__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.25rem 0.5rem 0rem hsla(0, 0%, 0%, 0.39);
}

.guest-main__aside__button {
  width: max(100%, 10rem);
  padding: 1rem;
  border-radius: 0.7rem;
  border-style: none;
  box-shadow: 0rem 0.25rem 0.5rem 0rem hsla(0, 0%, 0%, 0.39);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.guest-main__aside__button:is(:hover, :focus) {
  box-shadow: 0 0 3.5rem hsl(203, 19%, 30%);
}
.guest-main__list__next-page {
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  width: min(8rem, 27%);
  transition: all 250ms ease-in-out;
}
.guest-main__list__next-page:is(:hover, :focus) {
  box-shadow: 0 0 3.5rem hsl(0, 97%, 65%);
}

.stats-info__container__card--1, .stats-info__container__card--2, .stats-info__container__card--3 {
  border-radius: 0.7rem;
  padding: 2rem 1.65rem 2rem 1.65rem;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: auto;
  gap: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0rem 0.25rem 0.5rem 0rem hsla(0, 0%, 0%, 0.39);
}/*# sourceMappingURL=main.css.map */